In [ ]:
#Q1. Create a function which will take a list as an argument and return the product of all the numbers after creating a flat list.
#Use the below-given list as an argument for your function.
#list = [1,2,3,4, [44,55,66, True], False, (34,56,78,89,34), {1,2,3,3,2,1}, {1:34, "key2": 
#[55, 67, 78, 89], 4: (45,22, 61, 34)}, [56, 'data science'], 'Machine Learning']

In [1]:
list1 = [1,2,3,4, [44,55,66, True], False, (34,56,78,89,34), {1,2,3,3,2,1}, {1:34, "key2": 
[55, 67, 78, 89], 4: (45,22, 61, 34)}, [56, 'data science'], 'Machine Learning']

def product(l):
    l_ans=[];
    ans=1;
    for i in l:
        if type(i)==int:
            l_ans.append(i);
        elif type(i)==list or type(i)==set or type(i)==tuple :
            for j in i:
                if type(j)==int:
                    l_ans.append(j);
        elif  type(i)==dict:
            for j in i.values():
                if type(j)==int:
                    l_ans.append(j);
                elif type(j)==list or type(j)==set or type(j)==tuple :
                    for l in j:
                        if type(l)==int:
                            l_ans.append(l);
            for j in i.keys():
                if type(j)==int:
                    l_ans.append(j);
        else:
            continue;
        
    
 
    for i in l_ans:
        ans*=i;
    
    return ans,l_ans;

In [2]:
print("product of ",product(list1)[1],"is ",product(list1)[0]);

product of  [1, 2, 3, 4, 44, 55, 66, 34, 56, 78, 89, 34, 1, 2, 3, 34, 55, 67, 78, 89, 45, 22, 61, 34, 1, 4, 56] is  4134711838987085478833841242112000

In [ ]:
#Q2. Write a python program for encrypting a message sent to you by your friend. The logic of encryption
#should be such that, for a the output should be z. For b, the output should be y. For c, the output should
#be x respectively. Also, the whitespace should be replaced with a dollar sign. Keep the punctuation
#marks unchanged.
#Input Sentence: I want to become a Data Scientist.
#Encrypt the above input sentence using the program you just created.
#Note: Convert the given input sentence into lowercase before encrypting. The final output should be
#lowercase.

In [3]:
string = "I want to become a Data Scientist."
str = string.lower();
str1= "abcdefghijklmnopqrstuvwxyz "
str2= "zyxwvutsrqponmlkjihgfedcba$"
table = str.maketrans(str1,str2)   
str.translate(table)

'r$dzmg$gl$yvxlnv$z$wzgz$hxrvmgrhg.'