In [ ]:
#Q1. What is a database? Differentiate between SQL and NoSQL databases.
"""A database is a software system that is designed to store, manage,
and retrieve data. It is a structured way of organizing and accessing data 
in a digital format. Databases can be used for a wide range of purposes, such 
as managing business transactions, storing customer information, or managing 
scientific data.

There are two main types of databases: SQL (relational) and NoSQL (non-relational).
The main differences between the two are in how they store and manage data."""
#SQL
'''SQL databases are based on the relational model of data, which means that data 
is organized into tables with rows and columns. SQL databases use a language 
called Structured Query Language (SQL) to interact with the data. SQL databases 
are known for their ability to handle complex queries and for their strong data 
consistency and reliability.'''
#NOSQL
'''NoSQL databases, on the other hand, are designed for handling large volumes of 
unstructured or semi-structured data. NoSQL databases do not use tables, 
but instead use data structures such as key-value stores, document stores, 
or graph databases. NoSQL databases are typically more flexible and scalable 
than SQL databases, but they may sacrifice some consistency and reliability for 
performance and scalability.

In summary, SQL databases are best suited for structured data that requires strong 
data consistency and reliability, while NoSQL databases are better suited for handling
large volumes of unstructured or semi-structured data with high scalability
and flexibility requirements"""

In [ ]:
#Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
''' DDL stands for Data Definition Language, which is a set of SQL commands used to define, modify, and manage the structure of a database
DDL commands are used to create, alter, and drop tables, indexes, and other database objects, as well as to define constraints and specify 
access controls.'''
#CREATE :- is used to create a new table or database.
 ex:- CREATE database shiva;

 #DROP :- is used to drop(or delete the table) table
  ex:- DROP table aman;

#ALTER :- is used to modify the structure of an existing database object, such as a table or column.
  ex:- ALTER TABLE Customers
  ADD Email VARCHAR(255);

#TRUNCATE :- is used to remove all data from a table while keeping its structure intact.
  ex:- TRUNCATE TABLE Customers;

In [ ]:
#Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
'''DML stands for Data Manipulation Language, which is a set of SQL commands used to manage data within a database.
DML commands are used to insert, update, and delete data in a database, as well as to retrieve data from a database.

INSERT: used to insert new data into a table.

  ex:- INSERT INTO Customers (Name, Email)
      VALUES ('som', 'som@gmail.com');

UPDATE: used to modify existing data in a table.

  ex:- UPDATE Customers
      SET Email = 'john@email.com'
      WHERE Name = 'Jon Sem';

DELETE: used to remove data from a table.

  ex:- DELETE FROM Customers
      WHERE Name = 'jon';

In [ ]:
#Q4. What is DQL? Explain SELECT with an example.
'''DQL stands for Data Query Language, which is a subset of SQL that is used to 
retrieve data from a database. DQL is used to select and filter data from tables, 
and it includes the SELECT statement.

SELECT is a SQL command used to retrieve data from one or more tables in a database. It is the most commonly used
 SQL command and is often used in combination with other SQL commands to retrieve, filter, and sort data based on specific criteria.

    ex:- SELECT Name, Email FROM Customers;
    '''

In [ ]:
#Q5. Explain Primary Key and Foreign Key.
#primary key
''' A primary key is a column or set of columns in a table that uniquely identifies each row in that table.
 Primary keys are used to enforce data integrity and ensure that each row in a table is unique.

 ex:- consider a table called "Customers" with columns for "CustomerID", "Name", "Email", and "City". 
 We can make "CustomerID" the primary key for the "Customers" table, which means that each value in the "CustomerID" column must be unique and
  cannot be null. This ensures that we can easily and efficiently retrieve data for a specific customer by their unique identifier.'''
#foreign key
 '''A foreign key is a column or set of columns in one table that refers to the primary key of another table. Foreign keys are used to 
 establish relationships between tables and ensure that data in related tables is consistent.

 ex:- consider a table called "Orders" with columns for "OrderID", "CustomerID", "OrderDate", and "TotalAmount". 
 We can make "CustomerID" a foreign key that refers to the "CustomerID" column in the "Customers" table. 
 This ensures that each order is associated with a valid customer, and we can easily retrieve customer information when querying the "Orders" table.

In [ ]:
#Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
import mysql.connector

myDB = mysql.connector.connect(
    host = 'localhost',
    user = 'abc',
    password = 'password'
)

myCoursor = myDB.cursor()
myCoursor.execute("CREATE database ")
myDB.close()

#cursor() :- 
'''method is used to create a cursor object, which is used to execute SQL statements and retrieve data from the database.
 The cursor object is used to traverse the records of a result set and perform database operations like inserting, updating, and deleting records.'''
 #execute() :- 
 '''method is used to execute a SQL statement on a cursor object. The SQL statement can be a parameterized query, 
 which allows you to pass values into the query at runtime. The execute() method returns a cursor object that can be used to fetch the
  results of the query.'''

In [ ]:
#Q7. Give the order of execution of SQL clauses in an SQL query.
'''
#FROM: This clause specifies the table or tables from which the data is being retrieved.

#JOIN: This clause is used to join two or more tables based on a common column.

#WHERE: This clause is used to filter the data based on one or more conditions.

#GROUP BY: This clause is used to group the data based on one or more columns.

#HAVING: This clause is used to filter the grouped data based on one or more conditions.

#SELECT: This clause is used to specify the columns that should be retrieved from the table(s).

#DISTINCT: This clause is used to retrieve only unique values for the specified columns.

#ORDER BY: This clause is used to sort the data based on one or more columns.

#LIMIT: This clause is used to limit the number of rows that are retrieved from the table(s).'''