In [ ]:
#1 Python Program to Print Hello world!
print("hello ,world")

hello ,world

In [ ]:
#2 Python Program to Add Two Numbers
a = int(input())
b= int(input())
print(a+b)

5
6
11

In [ ]:
#3 Python Program to Find the Square Root
import cmath
num = 8
num_sqrt = num**0.5
print(num_sqrt)

2.8284271247461903

In [ ]:
num = eval(input())
num_sqrt = cmath.sqrt(num)
print(num_sqrt)

1+2j
(1.272019649514069+0.7861513777574233j)

In [ ]:
#4 Python Program to Calculate the Area of a Triangle
#s = (a+b+c)/2
#area = âˆš(s(s-a)*(s-b)*(s-c))
a = float(input())
b = float(input())
c = float(input())
s = (a+b+c)/2
area = (s*(s-a)*(s-b)*(s-c))**0.5
print(area)

3.1
2
5
1.225456547577267

In [ ]:
#5 Python Program to Solve Quadratic Equation
a = 1
b = 5
c =6
# calculate the discriminant
discriminant = (b**2)-(4*a*c)
sol1 = (-b-(discriminant**0.5))/(2*a)
sol2 = (-b+(discriminant**0.5 ))/(2*a)
print('the sol are{0} and {1}'.format(sol1,sol2))

the sol are-3.0 and -2.0

In [ ]:
#6Python Program to Swap Two Variables
x=10
y=20
temp = x
x = y
y = temp
print("the value of x after after swapping:{}".format(x))
print("the value of y after after swapping:{}".format(y))

the value of x after after swapping:20
the value of y after after swapping:10

In [ ]:
#  arithmetic operations #x,y = y,x
"""x = x*y
   y = x/y
   x = x/y"""

x =5
y = 10
x = x+y
y = x-y
x = x-y
print("after swapping, x =",x,"and y=",y)

after swapping, x = 10 and y= 5

In [ ]:
#7 Python Program to Generate a Random Number
import random
print(random.randint(0,9))

7

In [ ]:
#8 Python Program to Convert Kilometers to Miles
kilometers = float(input())
conv_factor = 0.621371
miles   =kilometers  *conv_factor
print('%0.1f kilometer is equal to %0.2f miles'%(kilometers,miles))

#to convert miles to kilometers
# kilometers = miles / conv_factor

3.55
3.5 kilometer is equal to 2.21 miles

In [ ]:
#9 Python Program to Convert Celsius To Fahrenheit
celsius = 37.5
Fahrenheit = (celsius*1.8)+ 32
print('%0.1f degree celsius is equal to %0.1f fahrenheit '%(celsius,Fahrenheit))

37.5 degree celsius is equal to 99.5 fahrenheit

In [ ]:
# to convert Fahrenheit to Celsius
Fahrenheit = 99.5
celsius =(Fahrenheit - 32)/1.8
print('%0.1f degree fahrenheit is equal to %0.1f celsius'%(Fahrenheit,celsius))

99.5 degree fahrenheit is equal to 37.5 celsius

In [ ]:
#10 Python Program to Check if a Number is Positive, Negative or 0
num = int(input())
if num<0:
  print("negative no")
elif num>0:
  print("positive no")
else:
  print("zero")

655
positive no

In [ ]:
#Using Nested if
num = float(input())
if num >= 0:
  if num==0:
    print("zero")
  else:
    print("positive number")
else:
  print("negative number")

6.8
positive number

In [ ]:
#11 Python Program to Check if a Number is Odd or Even
num = int(input())
if num%2==0:
  print("{} is even number".format(num))
else:
  print("{} is odd number".format(num))

5
5 is odd number

In [ ]:
#12 Python Program to Check Leap Year
year = int(input())
if (year%400==0) and (year%100==0):
   print("{} is a leap year".format(year))
elif (year%4==0) and (year%100!=0):
   print("{} is a leap year".format(year))
else:
  print("{} is a leap year".format(year))

2024
2024 is a leap year

In [ ]:
#13 Python Program to Find the Largest Among Three Numbers
a = int(input())
b = int(input())
c = int(input())
if a>= b and a>=c:
  largest = a
elif b>=a and b>=c:
  largest = b
else:
  largest = c
print("the largest no is",largest)

6
7
8
the largest no is 8

In [ ]:
# 14 Python Program to Check Prime Number
num = int(input())
for i in range(2,num):
  if (num%i)==0:
    print(num,"is not a prime number")
    break
else:
  print(num,"is prime number")

17
17 is prime number

In [ ]:
#15 Python Program to Print all Prime Numbers in an Interval
lower = 900
upper = 950
for num in range(lower,upper+1):
   if num>1:
      for i in range(2,num):
         if (num%i)==0:
          break
      else:
        print(num)

907
911
919
929
937
941
947

In [ ]:
# 16 Python Program to Find the Factorial of a Number
fact = 1
num = int(input())
while (num > 0):
  fact = fact*num
  num -= 1
print("factorial",fact)

3
factorial 6

In [ ]:
#using for loop
num = int(input())
fact = 1
if num<0:
  print("factorial does not exist for negative number ")
elif num == 0:
     print("factorial of 0 is 1")
else:
  for i in range(1,num+1):
    fact = fact*i
  print("factorial",fact)

6
factorial 720

In [ ]:
# 17 Python Program to Display the multiplication Table
num = int(input())
for i in range(1,11):

2
4
6
8
10
12
14
16
18
20

In [ ]:
#18 Python Program to Print the Fibonacci sequence
nterm = int(input())
count = 0
x = 0
y = 1
while count < nterm:
  print(x)
  z = x+y
  x = y
  y = z
  count+=1

5
0
1
1
2
3

In [ ]:
#19 Python Program to Check Armstrong Number
i = int(input())
sum = 0
orig = i
while i > 0:
  sum = sum + (i%10)*(i%10)*(i%10)
  i = i//10
if orig == sum:
  print("{} is armstrong".format(orig))
else:
  print(orig,"not an armstrong number")

153
153 is armstrong

In [ ]:
# for n digit
i = int(input())
sum = 0
orig = i
power = len(str(i))
while i>0:
  sum = sum+ (i%10)**power
  i=i//10
if orig == sum:
  print("{} is armstrong".format(orig))
else:
  print(orig,"not an armstrong number")

9474
9474 is armstrong

In [ ]:
#20 Python Program to Find Armstrong Number in an Interval
lower = int(input())
upper  = int(input())

for i in range(lower,upper+1):
  power = len(str(i))
  sum = 0
  orig = i
  while i>0:
    sum = sum+ (i%10)**power
    i = i//10

  if orig == sum:
    print(orig)

1
200
1
2
3
4
5
6
7
8
9
153

In [ ]:
import datetime

# Get current date and time
current_datetime = datetime.datetime.now()
formatted_datetime = current_datetime.strftime("%Y-%m-%d %H:%M:%S")
msg = "I finished this task at {}.".format(formatted_datetime)


line = "=" * len(msg)
print(line)
print(msg)
print(line)

============================================
I finished this task at 2023-07-25 16:01:11.
============================================

In [ ]:
#21 Python Program to Find the Sum of Natural Numbers

sum = 0
for i in range(1,11):
  sum = sum+i

print(sum)

55

In [ ]:
sum =0
n = int(input())
i=1
while i<= n :
  sum = sum+i
  i = i+1
print(sum)

10
55

In [ ]:

n = int(input())
sum = n * (n +1)/ 2;
print(sum)

10
55.0

In [ ]:
#22 Python Program to Display Powers of 2 Using Anonymous Function
terms = int(input())
result = list(map(lambda x:2**x,range(terms)))
for i in range(terms):
  print("2 raised to power",i,"is",result[i])

11
2 raised to power 0 is 1
2 raised to power 1 is 2
2 raised to power 2 is 4
2 raised to power 3 is 8
2 raised to power 4 is 16
2 raised to power 5 is 32
2 raised to power 6 is 64
2 raised to power 7 is 128
2 raised to power 8 is 256
2 raised to power 9 is 512
2 raised to power 10 is 1024

In [ ]:
#23 Python Program to Find Numbers Divisible by Another Number
#L = [range(1,100)] error->L becomes a list that contains a single element, which is the range(1, 100)
L = list(range(1,100))
result = list(filter(lambda x:x%13==0, L))
print("number divisible by 13 in range 1 to 100 ",result)

number divisible by 13 in range 1 to 100  [13, 26, 39, 52, 65, 78, 91]

In [ ]:
#24 Python Program to Convert Decimal to Binary, Octal and Hexadecimal
dec = 344
print(dec)
print("binary",bin(dec))
print("octal",oct(dec))
print("hexadecimal",hex(dec))

344
binary 0b101011000
octal 0o530
hexadecimal 0x158

In [ ]:
#25 Python Program to Find ASCII Value of Character
#ord() and chr()
c= 'd'
print("ASCII value of '"  + c + "' is",ord(c))
d = 100
chr(d)

ASCII value of 'd' is 100

'd'

In [ ]:
#26 Python Program to Find HCF or GCD
def compute_hcf(x,y):
  if x>y:
    smaller = y
  else:
    smaller = x
  for i in range(1,smaller+1):
    if x%i==0 and y%i==0:
      hcf = i
  return hcf

num1 = 12
num2 = 18
print("HCF",compute_hcf(num1,num2))

HCF 6

In [ ]:
#Using Euclidian algorithm
def compute_hcf(x,y):
    while y!=0:
       x,y = y,x%y
    return x
num1 = 12
num2 = 18
print("HCF",compute_hcf(num1,num2))

HCF 6

In [ ]:
#27 Python Program to Find LCM
def compute_lcm(x,y):
   if x>y:
      greater = x
   else:
       greater = y
   while True:
    if greater%x==0 and greater%y==0:
      lcm= greater
      break
    greater +=1
   return lcm

num1 = 12
num2  = 18
print("LCM",compute_lcm(num1,num2))

LCM 36

In [ ]:
from prompt_toolkit.shortcuts.dialogs import yes_no_dialog
#Compute LCM Using GCD Number1 * Number2 = L.C.M. * G.C.D.
def compute_gcd(x,y):
  while y!=0:
      x,y = y,x%y
  return x

def compute_lcm(x,y):
  lcm = (x*y)// compute_gcd(x,y)
  return lcm

num1 = 12
num2  = 18
print("LCM",compute_lcm(num1,num2))

LCM 36

In [ ]:
#28 Python Program to Find the Factors of a Number
def print_factor(x):
  for i in range(1,x+1):
    if x%i==0 :
      print(i)

print_factor(10)

1
2
5
10

In [ ]:
#29 Python Program to Make a Simple Calculator
def add(x,y):
  return x+y

def subtract(x,y):
   return x-y

def multiply(x,y):
   return x*y

def divide(x,y):
  if y==0:
    return "Error:cannot divide by zero"
  return x/y
print("Select operation:")
print("1. Add")
print("2. Subtract")
print("3. Multiply")
print("4. Divide")

choice = input("enter choice 1/2/3/4")
num1 = float(input("enter first number"))
num2 = float(input("enter second number"))

if choice=='1':
   print(add(num1,num2))
elif choice =='2':
    print(subtract(num1,num2))
elif choice=='3':
    print(multiply(num1,num2))
elif choice =='4':
    print(divide(num1,num2))
else:
   print("invalid choice!")

Select operation:
1. Add
2. Subtract
3. Multiply
4. Divide
enter choice 1/2/3/43
enter first number67
enter second number0
0.0

In [ ]:
#30 Python Program to Shuffle Deck of Cards
import itertools,random #itertool contain product function to find cartesian product all possible combination
deck = list(itertools.product(range(1,14),['Spade', 'Heart', 'Diamond', 'Club']))
random.shuffle(deck)

for i in range(5):
  print(deck[i][0],"of",deck[i][1])

3 of Club
1 of Club
12 of Diamond
11 of Diamond
2 of Spade

In [ ]:
#31 Python Program to Display Calendar
import calendar
yy = int(input("enter year"))
mm = int(input("enter month"))
print(calendar.month(yy,mm))

enter year2024
enter month1
    January 2024
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

In [ ]:
#32 Python Program to Display Fibonacci Sequence Using Recursion

def fibo(n):
  if n==0:
    return 0
  if n==1:
     return 1
  return (fibo(n-1)+fibo(n-2))
n = int(input())
for i in range(n):
  print(fibo(i))

5
0
1
1
2
3

In [ ]:
#33 Python Program to Find Sum of Natural Numbers Using Recursion
def summ(n):
  if n==1:
    return 1
  else:
    return n+ summ(n-1)

n = int(input())
summ(n)

5

15

In [ ]:
#34 Python Program to Find Factorial of Number Using Recursion
def fact(n):
  if n==1:
    return 1
  else:
    return n*fact(n-1)

n = int(input())
fact(n)

4

24

In [ ]:
#35 Python Program to Convert Decimal to Binary Using Recursion
def convertBinary(n):
  if n == 0:
     return
  else:
     convertBinary(n//2)
     print(n%2 ,end="")

n = int(input())
convertBinary(n)

9
1001

In [ ]:
#36 Python Program to Add Two Matrices
# Program to add two matrices using nested loop

X = [[12,7,3],
    [4 ,5,6],
    [7 ,8,9]]

Y = [[5,8,1],
    [6,7,3],
    [4,5,9]]

result = [[0,0,0],
         [0,0,0],
         [0,0,0]]


for j in range(len(X[0])):
  for i in range(len(X)):
    result[i][j]= X[i][j]+Y[i][j]

for row in result:
   print(row)

[17, 15, 4]
[10, 12, 9]
[11, 13, 18]

In [ ]:
#37 Python Program to Transpose a Matrix
X = [[1,2,3],
     [1,2,3],
     [1,2,3]]

result = [[0,0,0],
          [0,0,0],
          [0,0,0]]

for i in range(len(X)):
  for j in range(len(X[0])):
     result[i][j]= X[j][i]

for row in result:
     print(row)

[1, 1, 1]
[2, 2, 2]
[3, 3, 3]

In [ ]:
#38 Python Program to Multiply Two Matrices
X = [[1,2,3],
    [1 ,0,2],
    [2 ,3,1]]

Y = [[5,8,1],
    [6,7,3],
    [4,5,9]]

result = [[0,0,0],
         [0,0,0],
         [0,0,0]]

for i in range(len(X)):
  for j in range(len(X[0])):
    for k in range(len(Y)):
        result[i][j] += X[i][k]*Y[k][j]

for row in result:
     print(row)

[29, 37, 34]
[13, 18, 19]
[32, 42, 20]

In [ ]:
#39 Python Program to Check Whether a String is Palindrome or not
s= input("enter string")
s = s.replace(" ","").lower()

if s == s[::-1]:
  print("palindrome")
else:
  print("not plaindrome")

enter stringdad
palindrome

In [ ]:
my_str = 'aIbohPhoBiA'

# make it suitable for caseless comparison
my_str = my_str.casefold()

# reverse the string
rev_str = reversed(my_str)

# check if the string is equal to its reverse
if list(my_str) == list(rev_str):
   print("The string is a palindrome.")
else:
   print("The string is not a palindrome.")

The string is a palindrome.

In [ ]:
#40 Python Program to Remove Punctuations From a String
string = input("enter string")
punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
result_string = ""
for char in string:
  if char not in punctuations:
    result_string += char

print(result_string)

enter stringHello!!!, he said ---and went.
Hello he said and went

In [ ]:
from datetime import datetime
import pytz
print(datetime.now(pytz.timezone('Asia/Kolkata')).strftime("%d-%m-%Y  %H:%M:%S"))

27-07-2023  20:59:51

In [ ]:
#41 Python Program to Sort Words in Alphabetic Order #sort
""" you cannot solve it directly using sort(s) because sort() is a method applicable to lists, not strings  Strings are immutable in Python, which means they cannot be changed in place, and therefore they don't have a sort() method.
To sort the words in alphabetic order in the given string s, you need to first split the string into individual words, then sort the words,"""

s = "Hello this Is an Example With cased letters"
words = [word.lower() for word in s.split()]
words.sort()
for word in words:
  print(word)

an
cased
example
hello
is
letters
this
with

In [ ]:
#42 Python Program to Illustrate Different Set Operations
A ={1,2,3,4}
B = {2,5,6,7,1}

print("union",A|B)
print("intersection", A&B)
print("difference",A-B)
print("symmetric difference",A^B) #symmetric difference-> set of elements that are unique to each set and do not appear in both sets simultaneously.

union {1, 2, 3, 4, 5, 6, 7}
intersection {1, 2}
difference {3, 4}
symmetric difference {3, 4, 5, 6, 7}

In [ ]:
#43 Python Program to Count the Number of Each Vowel
s = "I am Independent"
vowel = "aeiou"
s = s.casefold()
count = {}.fromkeys(vowel,0)
for char in s:
  if char in vowel:
     count[char] += 1

print(count)

{'a': 1, 'e': 3, 'i': 2, 'o': 0, 'u': 0}

In [ ]:
#Using a list and a dictionary comprehension
s = "I am Independent"
vowels = "aeiou"
s = s.casefold()
vowel_list = [char for char in s if char in vowels]
# Create a dictionary with each vowel as key and its count as value
count = {vowel: vowel_list.count(vowel) for vowel in vowels}
print(count)

{'a': 1, 'e': 3, 'i': 2, 'o': 0, 'u': 0}

In [ ]:
#44 Python Program to Merge Mails
L = ["divya\n","jyoti\n","meghna\n","viku\n","aleena\n","neha mam\n","kuljeet sir\n","sonam\n","nisha\n","nishu\n","vaibhav\n","bhavya\n","alishba\n","data scientist\n","kusha\n","manu\n","special one\n"]
with open("names.txt",'w')  as n:
   n.writelines(L)

In [ ]:
B = """ðŸŽ‰ You're Invited! ðŸŽ‰

Join me as I celebrate my 22nd birthday after 21 years! ðŸŽ‚ðŸŽˆ

Date: 1-1-2025
Time: [8:00 PM]
Venue: [Gurgaon]

Let's make this day extra special with joy, laughter, and good company! ðŸŽŠ

Looking forward to seeing you there! ðŸ¥³"""
with open("body.txt",'w') as t:
    t.write(B)

In [ ]:
with open("names.txt",'r') as name_file:
  with open("body.txt",'r') as body_file:
      body = body_file.read()
      for name in name_file:
        mail = "hey! "+name.strip()+"\n"+body
        with open(name.strip()+".txt",'w') as mail_file:
          mail_file.write(mail)

In [ ]:
#45 Python Program to Find the Size (Resolution) of a Image #install pillow
!pip install pillow

Requirement already satisfied: pillow in /usr/local/lib/python3.10/dist-packages (9.4.0)

In [ ]:
from PIL import Image
filepath = "/content/question13.jpg"
img_name = Image.open(filepath)
width = img_name.width
height = img_name.height

print("Resolution of image width x height is ",width,"x",height)

Resolution of image width x height is  1927 x 1730

In [ ]:
#46 Python Program to Find Hash of File

In [ ]:
#47 Python Program to Create Pyramid Patterns
#Example 1: Program to print half pyramid using *
rows = 5
for i in range(rows):
  for j in range(i+1):
    print("*",end ='')
  print()

*
**
***
****
*****

In [ ]:
#Example 2: Program to print half pyramid a using numbers
rows = 5
for i in range(rows):
  for j in range(i+1):
    print(j+1,end=' ')
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
#Example 3: Program to print half pyramid using alphabets
rows = 5
ascii_value = 65
for i in range(rows):
  for j in range(i+1):
    alphabat = chr(ascii_value)
    print(alphabat,end=' ')
  ascii_value +=1
  print()

A
B B
C C C
D D D D
E E E E E

In [ ]:
#Example 4: Inverted half pyramid using *
rows = 5
for i in range(rows,0,-1):
  for j in range(0,i):
    print("*",end=' ')
  print()

* * * * *
* * * *
* * *
* *
*

In [ ]:
#Example 5: Inverted half pyramid using numbers
rows = 5
for i in range(rows,0,-1):
  for j in range(0,i):             #or j in range(1,i+1) print(j)
    print(j+1,end=' ')
  print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [ ]:
#Example 6: Program to print full pyramid using *
n = 5
for i in range(n):
  for j in range(n-i-1):
    print(" ",end="")
  for j in range(2*i-1):
     print("*",end="")
  print()

   *
  ***
 *****
*******

In [ ]:
#Example 7: Full Pyramid of Numbers
#Example 8: Inverted full pyramid of *
#Example 9: Pascal's Triangle
#Example 10: Floyd's Triangle

In [ ]:
#48 Python Program to Merge Two Dictionaries
dict1 = {'a':1,'b':2}
dict2 = {'c':3,'d':4}
print(dict1|dict2)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
#Using the ** Operator
print({**dict1,**dict2})

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
#Using copy() and update()
dict3 = dict2.copy()
dict3.update(dict1)
print(dict3)

{'c': 3, 'd': 4, 'a': 1, 'b': 2}

In [ ]:
#49 Python Program to Safely Create a Nested Directory
from pathlib import Path
Path('D/root/folder1').mkdir(parents = True,exist_ok=True)
dirct_path = Path('D/root/folder1').resolve()
print(dirct_path)

/content/D/root/folder1

In [ ]:
#50 Python Program to Access Index of a List Using for Loop
L = [21,22,45,6,7]
for i in range(len(L)):
  value = L[i]

  print(value,i)

21 0
22 1
45 2
6 3
7 4

In [ ]:
#Using enumerate
L = [21,22,45,6,7]
for i,value in enumerate(L):
  print(i,value)

0 21
1 22
2 45
3 6
4 7

In [ ]:
from datetime import datetime
import pytz
print(datetime.now(pytz.timezone('Asia/Kolkata')).strftime("%d-%m-%Y  %H:%M:%S"))

28-07-2023  23:00:27

In [ ]:
#51 Python Program to Flatten a Nested List
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flatten_list = []

for sublist in nested_list:
  for element in sublist:
     #if element not in flatten_list:
      flatten_list.append(element)

print(flatten_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#Using List Comprehension
[element  for sublist in nested_list for element in sublist]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# Using sum()
flat_list = sum(nested_list,[])
print(flat_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# Using lambda and reduce()
from functools import reduce
print(reduce(lambda x,y: x+y,nested_list))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#52 Python Program to Slice Lists
L = [2,3,55,76,44,33]
L[0:5]

[2, 3, 55, 76, 44]

In [ ]:
#53 Python Program to Iterate Over Dictionaries Using for Loop
#without using items()
dict1 = {'a':1,'b':2}
for keys in dict1:
  print(keys,dict1[keys])

a 1
b 2

In [ ]:
# Access both key and value using items()
for key,value in dict1.items():
  print(key,value)

a 1
b 2

In [ ]:
# Return keys or values explicitly
for key in dict1.keys():
    print(key)
for value in dict1.values():
    print(value)

a
b
1
2

In [ ]:
#54 Python Program to Sort a Dictionary by Value
dt = {5:4, 1:6, 6:3}
dt.values()

[3, 4, 6]

In [ ]:
#Sort the dictionary based on values
dt = {5:4, 1:6, 6:3}
sorted_dt = {key:value for key,value in sorted(dt.items(),key= lambda item:item[1])}
print(sorted_dt)

{6: 3, 5: 4, 1: 6}

In [ ]:
#55 Python Program to Check If a List is Empty
L = []
if len(L)==0:
   print("empty list")

empty list

In [ ]:
#Using Boolean operation
my_list =[]
if not my_list:
  print("empty list")

empty list

In [ ]:
#Comparing with []
if my_list == []:
  print("empty list")

empty list

In [ ]:
#56 Python Program to Catch Multiple Exceptions in One Line
#Multiple exceptions as a parenthesized tuple
string = input()
try:
  num = int(input())
  print(string+num)
except (TypeError,ValueError) as e:
  print(e)

a
b
invalid literal for int() with base 10: 'b'

In [ ]:
#57 Python Program to Copy a File
#Using shutil module
with open('file1.txt','w') as f:
  f.write("hi how are you pagl!")

In [ ]:
from shutil import copyfile
copyfile('/content/file1.txt','/content/file2.txt')

'/content/file2.txt'

In [ ]:
with open('file2.txt','r') as r:
    print(r.read())

hi how are you pagl!

In [ ]:
#58 Python Program to Concatenate Two Lists
# Using + operator
L1 = [3,4,6,7,8]
L2= [3,6,44,32,2]
print(L1+L2)

[3, 4, 6, 7, 8, 3, 6, 44, 32, 2]

In [ ]:
#Using iterable unpacking operator *
print([*L1,*L2])

[3, 4, 6, 7, 8, 3, 6, 44, 32, 2]

In [ ]:
#Using extend()
L1 = [3,4,6,7,8]
L2= [3,6,44,32,2]
L1.extend(L2)
print(L1)

[3, 4, 6, 7, 8, 3, 6, 44, 32, 2]

In [ ]:
# With unique values
L1 = [3,4,6,7,8]
L2= [3,6,44,32,2]
print(list(set(L1+L2)))

[32, 2, 3, 4, 6, 7, 8, 44]

In [ ]:
#59 Python Program to Check if a Key is Already Present in a Dictionary
#Using in keyword
dict1 = {'a':1,'b':2,'c':3}
if 'c' in dict1:
  print("present")

present

In [ ]:
#60 Python Program to Split a List Into Evenly Sized Chunks
#Using yield
def split(list1,chunk_size):
    for i in range(0,len(list1),chunk_size):
      yield list1[i:i+chunk_size]


list1 = [1,2,3,4,5,6,7,8,9,10]
chunk_size = 5
print(list(split(list1,chunk_size)))

[[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]]

In [ ]:
#using for loop
list1 = [1,2,3,4,5,6,7,8,9,10]
for x in range(len(list1[::4])):
  print(list1[x:x+4])

[1, 2, 3, 4]
[2, 3, 4, 5]
[3, 4, 5, 6]

In [ ]:
#61 Python Program to Parse a String to a Float or Int
#Parse string into integer
str1 = '2455'
str1_int = int(str1)
print(type(str1_int))
print(str1_int)

<class 'int'>
2455

In [ ]:
# Parse string into float
str2 = '567.3'
str2_float = float(str2)
print(type(str2_float))
print(str2_float)

<class 'float'>
567.3

In [ ]:
#A string float numeral into integer
str3 = '157.88'
str3_int = int(float(str3))
print(type(str3_int))
print(str3_int)

<class 'int'>
157

In [ ]:
#62 Python Program to Print Colored Text to the Terminal
#Using python module termcolor
from termcolor import colored
print(colored('Deepa','red')) #it does not work in google colab

Deepa

In [ ]:
from IPython.display import HTML

def display_colored_text(text, color):
    colored_text = f'<span style="color: {color};">{text}</span>'
    display(HTML(colored_text))

# Example usage
display_colored_text('This is red text', 'red')
display_colored_text('This is green text', 'green')

In [ ]:
#Using ANSI escape sequences
print('\x1b[38;2;5;86;243m' + 'Programiz' + '\x1b[0m')

Programiz

In [ ]:
#63 Python Program to Convert String to Datetime
# Using datetime module
from datetime import datetime
date_str = "2023-07-25 12:30:45"
date_format = "%Y-%m-%d  %H:%M:%S"
date_obj = datetime.strptime(date_str,date_format)
print(type(date_obj))
print(date_obj)

<class 'datetime.datetime'>
2023-07-25 12:30:45

In [ ]:
# Using dateutil module
from dateutil import parser
date_time = parser.parse("jan 1 2003 12:00PM")
print(date_time)

2003-01-01 12:00:00

In [ ]:
#64 Python Program to Get the Last Element of the List
L = [1,2,3,4]
L[-1:]

[4]

In [ ]:
#Using negative indexing
L = [1,2,3,4]
print(L[-1])

4

In [ ]:
#65 Python Program to Get a Substring of a String
str1 = 'I Love python'
print(str1[:1])
print(str1[2:7])
print(str1[:-1])

I
Love
I Love pytho

In [ ]:
#66 Python Program to Print Output Without a Newline
print("Python",end=' ')
print("is easiest programming language")

Python is easiest programming language

In [ ]:
#67 Python Program Read a File Line by Line Into a List
L = ['honda 1948\n','mercedes 1926\n','ford 1903\n']
with open('read.txt','w') as f:
    f.writelines(L)

In [ ]:
with open('read.txt','r') as r:
  lines = r.readlines()
  new_line = [line.strip() for line in lines]
print(new_line)

['honda 1948', 'mercedes 1926', 'ford 1903']

In [ ]:
#68 Python Program to Randomly Select an Element From the List
import random
fun = ["he miss you",'no he doesnt care','he is busy','he wants to talk but cant']
print(random.choice(fun))

he wants to talk but cant

In [ ]:
#using secret
import secrets
Luck = ['yes,you should go',"no you sholdn't",'wait for megajob fair day']
print(secrets.choice(Luck))

no you sholdn't

In [ ]:
#69 Python Program to Check If a String Is a Number (Float)
def isfloat(num):
  try:
     float(num)
     return True
  except ValueError:
    return False
print(isfloat('1.12'))
print(isfloat('sr1'))

True
False

In [ ]:
#70 Python Program to Count the Occurrence of an Item in a List
L = [1,2,4,6,3,2,2,2]
L.count(2)

4

In [ ]:
#just for fun
guess = ['alishba is missing you','no she isnot missing you','alishba wants to txt you but she is busy','you should txt her']
import secrets
print(secrets.choice(guess))
print(secrets.choice(guess))
print(secrets.choice(guess))

alishba wants to txt you but she is busy
alishba wants to txt you but she is busy
alishba wants to txt you but she is busy

In [ ]:
guess2 = ['you should do 10 more question','donot do more question,you should rest','enjoy your day']
import secrets
print(secrets.choice(guess2))
print(secrets.choice(guess2))
print(secrets.choice(guess2))

donot do more question,you should rest
donot do more question,you should rest
enjoy your day

In [ ]:
#71Python Program to Append to a File
with open('/content/read.txt','a') as f:
  f.write("\n to append a file we need to opent that file in'a' append mode!")

In [ ]:
#72Python Program to Delete an Element From a Dictionary
dict1 = {'a':1,'b':2,'c':3}
del dict1['b']
print(dict1)

{'a': 1, 'c': 3}

In [ ]:
#using pop
dict1 = {'a':1,'b':2,'c':3}
dict1.pop('c')
print(dict1)

{'a': 1, 'b': 2}

In [ ]:
#73 Python Program to Create a Long Multiline String
# Using triple quotes
s =""" the only
way to program is
by writing code..."""
print(s)

 the only
way to program is
by writing code...

In [ ]:
#Using parentheses and a single/double quotes
s1 = ("the only\n"
"way to program is\n"
"by writing code...")
print(s1)

the only
way to program is
by writing code...

In [ ]:
# Using \
s2 = "the only\n"\
"way to program is\n"\
"by writing code..."
print(s2)

the only
way to program is
by writing code...

In [ ]:
#74 Python Program to Extract Extension From the File Name
file_name = input()
extension = file_name.split('.')[1]
print("extension- ",extension)

princi.txt
extension-  txt

In [ ]:
#using function
def extract_extension(file_name):
  base ,extension = file_name.split('.',1)
  return extension

file_name = 'document.txt'

print(extract_extension(file_name))

txt

In [ ]:
#Using pathlib module
import pathlib
print(pathlib.Path('file.ext').suffix)

.ext

In [ ]:
#75Python Program to Measure the Elapsed Time in Python
#Using time module
import time
start = time.time()
print(23*24)
end = time.time()
print(end-start)

552
0.008455276489257812

In [ ]:
# Using timeit module
from timeit import default_timer as timer
start = timer()
print(23*24)
end = timer()
print(end-start)

552
0.006308772000011231

In [ ]:
#76 Python Program to Get the Class Name of an Instance
#Using __class__.__name__
class Vehicle:
    def name(self,name):
       return name
v = Vehicle()
print("class name-",v.__class__.__name__)

class name- Vehicle

In [ ]:
#Using type() and __name__ attribute
class Vehicle:
    def name(self,name):
       return name
v = Vehicle()
print(type(v).__name__)

Vehicle

In [ ]:
#77 Python Program to Convert Two Lists Into a Dictionary
L1 = [2,4,6,7]
L2 = [7,5,32,3]
print(dict(zip(L1,L2)))

{2: 7, 4: 5, 6: 32, 7: 3}

In [ ]:
#Using list comprehension
index = [1,2,3]
language = ['python','c','c++']
dictionary = {k:v for k,v in zip(index,language)}
print(dictionary)

{1: 'python', 2: 'c', 3: 'c++'}

In [ ]:
#78 Python Program to Differentiate Between type() and isinstance()
class Polygon:
  def sides_no(self):
    pass
class Triangle:
  def area(self):
    pass
obj_polygon = Polygon()
obj_triangle = Triangle()

print(type(obj_polygon))
print(type(obj_triangle))

print(isinstance(obj_polygon,Polygon))
print(isinstance(obj_triangle,Triangle))

""" type() to directly get the type of an object and isinstance()
to check if an object is an instance of a particular class or its subclass.
"""

<class '__main__.Polygon'>
<class '__main__.Triangle'>
True
True

In [ ]:
#79 Python Program to Trim Whitespace From a String
s = "  Python Programming   "
print(s)
print(s.strip())

  Python Programming
Python Programming

In [ ]:
#80 Python Program to Get the File Name From the File Path
import os
file_name = os.path.basename('/root/file.txt')
print(file_name)

file.txt

In [ ]:
#without extension
import os
file_name = os.path.basename('/root/file.txt')
print(os.path.splitext(file_name)[0])

file

In [ ]:
# Using Path module
# "stem" refers to the base name of a file without its extension.
from pathlib import Path
print(Path('/root/file.ext').stem)

file

In [ ]:
#81 Python Program to Represent enum
from enum import Enum
class color(Enum):
    RED = 1
    GREEN = 2
    BLUE=3
# print the enum member
print(color.RED)
# get the name of the enum member
print(color.RED.name)
# get the value of the enum member
print(color.RED.value)

color.RED
RED
1

In [ ]:
#82 Python Program to Return Multiple Values From a Function
#Return values using comma
def Student():
  name = 'Deepa'
  age = 20
  grade = 'graduate'

  return name,age,grade
#print the tuple with the returned values
print(Student())
# get the individual items
Sname,Sage,Sgrade = Student()
print(Sname)
print(Sage)
print(Sgrade)

Deepa
20
graduate

In [ ]:
#Using a dictionary
def Student():
  name = 'Deepa'
  age = 20
  grade = 'graduate'

  return {'name': name,'age':age}

s = Student()
print(s)

{'name': 'Deepa', 'age': 20}

In [ ]:
#83 Python Program to Get Line Count of a File
L = 'Hello\n'',This is a sample file\n.','It contains multiple lines.\n'
with open('file.txt','w') as f:
  f.writelines(L)

In [ ]:
def file_len(fname):
# default mode for opening a file using the open() function  is 'r',so need to specify 'r' mode
  with open(fname) as r:
    for i,l in enumerate(r):
       pass
#indexing starts from 0, the actual number of lines in the file is i + 1
  return i+1
file_len("file.txt")

3

In [ ]:
def file_len(fname):
    with open(fname) as f:
        for i, l in enumerate(f):
            pass
    return i + 1

print(file_len("file.txt"))

3

In [ ]:
# Using list comprehension
#generator expression is 1 for l in open('my_file.txt'), which means we are generating 1 for each line in the file.
#generator- generate values on-the-fly, rather than storing them all in memory at once.
# generator expression-(expression for item in iterable)
num_of_lines = sum(1 for l in open('file.txt'))
print(num_of_lines)

3

In [ ]:
#84 Python Program to Find All File with .txt Extension Present Inside a Directory
#Using os
import os
os.makedirs("my_dir",exist_ok = True)
files = ["file.txt", "file2.csv","file3.py",'file.html']
for file in files:
  file_path = os.path.join("my_dir",file)
  with open(file_path,'w') as f:
    f.write("this is the content of {} file".format(file))

print("files created succesfully")

files created succesfully

In [ ]:
import os
for file in os.listdir("my_dir"):
  if file.endswith(".txt"):
      print(file)

file.txt

In [ ]:
#85 Python Program to Get File Creation and Modification Date
# Using os module
import os,time
file_name = 'Pandas short notes.pdf'
#time.ctime() - method to convert a time into second
c_file = time.ctime(os.path.getctime(file_name))
m_file = time.ctime(os.path.getmtime(file_name))
a_file = time.ctime(os.path.getatime(file_name))

print("the file name is",file_name)
print("the file created date is",c_file)
print("the file modified date is",m_file)
print("the last time acess date is",a_file)

the file name is Pandas short notes.pdf
the file created date is Mon Jul 31 12:56:52 2023
the file modified date is Mon Jul 31 12:56:52 2023
the last time acess date is Mon Jul 31 12:56:52 2023

In [ ]:
#86 Python Program to Get the Full Path of the Current Working Directory
#using os module
import os
#current working directory
print(os.path.abspath(os.getcwd()))
#path of the given file
print(os.path.dirname(os.path.abspath('/content/Pandas short notes.pdf')))

/content
/content

In [ ]:
#87 Python Program to Iterate Through Two Lists in Parallel
#Using zip (Python 3+)
L1 = [1,2,3,4]
L2 = ['a','b','c','d']
for i,j in zip(L1,L2):
  print(i,j)

1 a
2 b
3 c
4 d

In [ ]:
#88 Python Program to Check the File Size
#Using os module
import os
file_stat = os.stat('/content/my_dir/file.txt')
print(file_stat.st_size)

36

In [ ]:
#using pathlib module
from pathlib import Path
file = Path('/content/my_dir/file.txt')
print(file.stat().st_size)

36

In [ ]:
#89 Python Program to Reverse a Number
#Using String slicing
num = 12345
print(str(num)[::-1])

54321

In [ ]:
#Reverse a Number using a while loop
num = 1234
while num!=0:
     reminder = num%10
     print(reminder,end="")
     num = num//10

4321

In [ ]:
num = 1234
reversed_num = 0

while num != 0:
    digit = num % 10
    reversed_num = reversed_num * 10 + digit
    num //= 10

print("Reversed Number: " + str(reversed_num))

Reversed Number: 4321

In [ ]:
#90 Python Program to Compute the Power of a Number
#Calculate the power of a number using pow() function
base =3
exponent = 4
result = pow(base,exponent)
print(result)

81

In [ ]:
#using def
def power(base,exponent):
  result = 1

  for _ in range(exponent):
    result *= base
  return result

base = 2
exponent = 3
result = power(base,exponent)

print(result)

8

In [ ]:
#91 Python Program to Count the Number of Digits Present In a Number
num = 1234
count = 0
while num!=0:
   num = num//10
   count += 1
print(count)

4

In [ ]:
#Using inbuilt methods
num = 1234
print(len(str(num)))

4

In [ ]:
#92 Python Program to Check If Two Strings are Anagram
str1 = 'listen'
str2 = 'silent'
str1 = str1.lower()
str2 = str2.lower()
if sorted(str1) == sorted(str2):
  print(str1 + " and " + str2+ " are anagrams")
else:
  print(str1 + " and " + str2+ " are not anagrams")

listen and silent are anagrams

In [ ]:
#93 Python Program to Capitalize the First Character of a String
#Using inbuilt method capitalize()
str1 = "i am about to complete my 100 questions practise yeeee!"
print(str1.capitalize())

I am about to complete my 100 questions practise yeeee!

In [ ]:
#Using list slicing
print(str1[0].upper()+ str1[1:])

I am about to complete my 100 questions practise yeeee!

In [ ]:
#94 Python Program to Compute all the Permutation of the String 4*3*2*1
#using itertools
from itertools import permutations
s = 'deepa'
str_per = list(permutations(s))

out_str = [''.join(i) for i in str_per]
print(out_str)
print(len(out_str))

['abcd', 'abdc', 'acbd', 'acdb', 'adbc', 'adcb', 'bacd', 'badc', 'bcad', 'bcda', 'bdac', 'bdca', 'cabd', 'cadb', 'cbad', 'cbda', 'cdab', 'cdba', 'dabc', 'dacb', 'dbac', 'dbca', 'dcab', 'dcba']
24

In [ ]:
#95 Python Program to Create a Countdown Timer
#using for loop
import time
my_time = int(input("enter time in second"))

for x in range(my_time,0,-1):
  seconds = x%60
  minutes = int(x/60)%60
  hours = int(x/3600)
  print(f"{hours:02}:{minutes:02}:{seconds:02}")
  time.sleep(1)

print("TIME'S UP!")

enter time in second3
00:00:03
00:00:02
00:00:01
TIME'S UP!

In [ ]:
import time
def countdown(t):
  while t>0:
    print(t)
    t = t-1
    time.sleep(1)
  print("times up")

print("how many seconds to count down enter an integer")
seconds = input()
while not seconds.isdigit():
    print("that wasnt an iteger number")
    seconds = (input())

seconds = int(seconds)
countdown(seconds)

how many seconds to count down enter an integer
5
5
4
3
2
1
times up

In [ ]:
#96 Python Program to Count the Number of Occurrence of a Character in String
#Using method count()
s = "deepa"
print(s.count('e'))

2

In [ ]:
#Using a for loop
count = 0
s1 = "deepa"
my_char = "e"
for char in s1:
  if char == my_char:
    count +=1

print(count)

2

In [ ]:
#97 Python Program to Remove Duplicate Element From a List
#using set
l1 = [1,2,3,3,2,3]
print(list(set(l1)))

[1, 2, 3]

In [ ]:
#: Remove the items that are duplicated in two lists
l1 =[1,2,3,33,2,]
l2 = [1,2,3,2,2]
print(list(set(l1)^set(l2)))

[33]

In [ ]:
#98 Python Program to Convert Bytes to a String
#decode() method takes an optional argument that specifies the encoding to be used.
# If no encoding is specified, it will use the default encoding, which is 'utf-8'.
bytes_data =   b'Easy \xE2\x9C\x85'
string_data = bytes_data.decode()
print("bytes data",bytes_data)
print("string data",string_data)

bytes data b'Easy \xe2\x9c\x85'
string data Easy âœ…

In [ ]:
import datetime
current_datetime = datetime.datetime.now()
formatted_datetime = current_datetime.strftime("%Y-%m-%d %H:%M:%S")
msg = "DONE WITH 98 QUESTIONS PRACTISE {}.".format(formatted_datetime)

line = "=" * len(msg)
print(line)
print(msg)
print(line)

====================================================
DONE WITH 98 QUESTIONS PRACTISE 2023-08-01 12:02:49.
====================================================

In [ ]:
#1 august 2023 5:30 PM