# Tuple

###`Q1:` Join Tuples if similar initial element
While working with Python tuples, we can have a problem in which we need to perform concatenation of records from the similarity of initial element. This problem can have applications in data domains such as Data Science.

For eg.
```
Input  : test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
Output : [(5, 6, 7, 8), (6, 10), (7, 13)]
```

In [ ]:
test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
output = []
for tpl in test_list:
   if not output or tpl[0] != output[-1][0]:      #if different add as new tuple
      output.append(tpl)
   else:
     output[-1] += (tpl[1],)                #same add subsequennt elemnt
print(output)

[(5, 6, 7, 8), (6, 10), (7, 13)]

###`Q2:` Multiply Adjacent elements (both side) and take sum of right and lest side multiplication result.


For eg.
```
The original tuple : (1, 5, 7, 8, 10)
Resultant tuple after multiplication :

(1*5, 1*5+5*7, 7*5 + 7*8, 8*7 + 8*10, 10*8) -> (5, 40, 91, 136, 80)

output-(5, 40, 91, 136, 80)
```

In [ ]:
orignal = (1, 5, 7, 8, 10)
output = []
for i in range(len(orignal)):
    left_index = i-1
    right_index = i+1
 # to handle edge cases we use if else statement
    left = orignal[left_index] if left_index >= 0 else 0
    right = orignal[right_index] if right_index < len(orignal) else 0

    result = orignal[i]*(left+right)
    output.append(result)
output = tuple(output)
print(output)

(5, 40, 91, 136, 80)

###`Q3`: Check is tuples are same or not?
Two tuples would be same if both tuples have same element at same index
```
t1 = (1,2,3,0)
t2 = (0,1,2,3)

t1 and t2 are not same
```

In [ ]:
t1 = tuple(input("Enter the first tuple elements (comma-separated): ").split(","))
t2 = tuple(input("Enter the second tuple elements (comma-separated): ").split(","))

same = t1 == t2

if same:
    print("Same")
else:
    print("Not same")

Enter the first tuple elements (comma-separated): 1,2,3,0
Enter the second tuple elements (comma-separated): 0,1,2,3
Not same

In [ ]:
t1 = (1, 2, 3)
t2 = (1, 2, 3)

same = True
if len(t1) != len(t2):
    same = False
else:
    for i in range(len(t1)):
        if t1[i] != t2[i]:
            same = False
            break

if same:
    print("Same")
else:
    print("Not same")

###`Q4`: Count no of tuples, list and set from a list
```
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]

```
`Output:`

```
List-2
Set-2
Tuples-1
```

In [ ]:
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]
list_count = 0
set_count = 0
tuples_count = 0
for elements in list1:
   if type(elements)== list:
      list_count +=1
   elif type(elements)== set:
        set_count +=1
   elif type(elements)== tuple:
        tuples_count +=1
print(f"list-{list_count}")
print(f"set-{set_count}")
print("tuples-",tuples_count)

list-2
set-2
tuples- 1

###`Q5`: Shortlist Students for a Job role
Ask user to input students record and store in tuples for each record. Then Ask user to input three things he wants in the candidate- Primary Skill, Higher Education, Year of Graduation.

Show every students record in form of tuples if matches all required criteria.

It is assumed that there will be only one primry skill.

If no such candidate found, print `No such candidate`

`Input:`
```
Enter No of records- 2
Enter Details of student-1
Enter Student name- Manohar
Enter Higher Education- B.Tech
Enter Primary Skill- Python
Enter Year of Graduation- 2022
Enter Details of student-2
Enter Student name- Ponian
Enter Higher Education- B.Sc.
Enter Primary Skill- C++
Enter Year of Graduation- 2020

Enter Job Role Requirement
Enter Skill- Python
Enter Higher Education- B.Tech
Enter Year of Graduation- 2022
```

`Output`
```
('Manohar', 'B.tech', 'Python', '2022')
```

In [ ]:
num_record = int(input("enter the number of records"))
student_record = []
#collect student record
for i in range(1,num_record+1):
  print(f"enter details of student-{i}")
  name = input("enter name")
  education = input("enter higher education")
  skills = input("enter primary skills")
  graduation_year= input("Enter Year of Graduation")
  student_record.append((name, education,skills,graduation_year))

#job role requiremnet
# Collect job role requirements
print("\nEnter Job Role Requirements")
required_skill = input("Enter Skill: ")
required_education = input("Enter Higher Education: ")
required_graduation_year = input("Enter Year of Graduation: ")

 # Search for matching candidates
found_candidates = []
for record in student_record :
#unpacking the variable  or use indexing
    name, education,skills,graduation_year = record
    if(
        skills == required_skill and
        education == required_education and
        graduation_year == required_graduation_year
    ):
         found_candidates.append(record)
# display matching candidates
if found_candidates:
   for candidate in found_candidates:
       print(candidate)
else:
     print("No such candidate")

enter the number of records2
enter details of student-1
enter namemanohar
enter higher educationbtech
enter primary skillspython
Enter Year of Graduation2022
enter details of student-2
enter nameponian
enter higher educationbsc
enter primary skillsc++
Enter Year of Graduation2020

Enter Job Role Requirements
Enter Skill: python
Enter Higher Education: btech
Enter Year of Graduation: 2022
('manohar', 'btech', 'python', '2022')

# Set

###`Q1:` Write a program to find set of common elements in three lists using sets.
```
Input : ar1 = [1, 5, 10, 20, 40, 80]
        ar2 = [6, 7, 20, 80, 100]
        ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

Output : [80, 20]
```

In [ ]:
ar1 = [1, 5, 10, 20, 40, 80]
ar2 = [6, 7, 20, 80, 100]
ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

intersection = set(ar1) & set(ar2) & set(ar3)
result = list(intersection)
print(result)

[80, 20]

###`Q2:` Write a program to count unique number of vowels using sets in a given string. Lowercase and upercase vowels will be taken as different.

`Input:`
```
Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
```
`Output:`
```
No of unique vowels-6
```

In [ ]:
str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
vowels = {'a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U'}
#vowels  = 'aeiouAEIOU'  can use this too
unique_vowels = set()
for char in str1:

    if char in vowels:
        unique_vowels.add(char)

count = len(unique_vowels)


print("No of unique vowels:", count)

No of unique vowels: 6

### `Q3:` Write a program to Check if a given string is binary string of or not.

A string is said to be binary if it's consists of only two unique characters.

Take string input from user.

```
Input: str = "01010101010"
Output: Yes

Input: str = "1222211"
Output: Yes

Input: str = "Campusx"
Output: No
```

In [ ]:
string = input("enter string: ")
unique_char = set(string)
if len(unique_char)==2 :
   print("yes!")
else :
    print("no")

enter string: 01010101010
yes!

### `Q4`: find union of n arrays.

**Example 1:**

Input:
```bash
[[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]
```

Output:

```bash
[1, 2, 3, 4, 5, 6, 7, 9]
```

In [ ]:
arr = [[1, 2, 2, 4, 3, 6], [5, 1, 3, 4],[9, 5, 7, 1],[2, 4, 1, 3]]
union_set  = set()
for array in arr:
    union_set |= set(array)
result = list(union_set)
print(result)

[1, 2, 3, 4, 5, 6, 7, 9]

In [ ]:
arr = [[1, 2, 2, 4, 3, 6], [5, 1, 3, 4],[9, 5, 7, 1],[2, 4, 1, 3]]
s1 = set(arr[0])
s2 = set(arr[1])
s3 = set(arr[2])
s4 = set(arr[3])

uni = s1 | s2 | s3 | s4
result = list(uni)
print(result)

[1, 2, 3, 4, 5, 6, 7, 9]

### `Q5`: Intersection of two lists. Intersection of two list means we need to take all those elements which are common to both of the initial lists and store them into another list. Only use using **list-comprehension**.

**Example 1:**

Input:
```bash
lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}
```

Output:
```bash
[9, 10, 4, 5]
```

**Example 2:**

Input:
```bash
lst1 = {4, 9, 1, 17, 11, 26, 28, 54, 69}
lst2 = {9, 9, 74, 21, 45, 11, 63, 28, 26}
```

Output:
```bash
[9, 11, 26, 28]
```

In [ ]:
lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}

intersection = [ x for x in lst1 if x in lst2]
print(set(intersection))

{9, 10, 4, 5}

# Dictionary

### `Q1`: Key with maximum unique values

Given a dictionary with values list, extract key whose value has most unique values.

**Example 1:**

Input:

```bash
test_dict = {"CampusX" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
CampusX
```

**Example 2:**

Input:
```bash
test_dict = {"CampusX" : [5, 7, 7, 7, 7], "is" : [6, 7, 7, 7], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
Best
```

In [ ]:
test_dict = {"CampusX" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "Best" : [9, 9, 6, 5, 5]}
max_unique_val = 0
max_unique_key = None
for key,value in test_dict.items():
   # unique_val = set(value)
    unique_count = len(set(value))
    if unique_count > max_unique_val:
          max_unique_val = unique_count
          max_unique_key = key
print(max_unique_key)

CampusX

### `Q2`: Replace words from Dictionary. Given String, replace itâ€™s words from lookup dictionary.

**Example 1:**

Input:

```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}
```

Output:

```bash
CampusX is the best channel for Data-Science students.
```

**Example 2:**

Input:
```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"good" : "is the best channel", "ds" : "Data-Science"}
```

Output:
```bash
CampusX best for DS students.
```

In [ ]:
test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}
modified_word = []
words = test_str.split()
for word in words:
     if word in repl_dict:
        modified_word.append(repl_dict[word])
     else:
        modified_word.append(word)
modified_str = ' '.join(modified_word)
print(modified_str)

CampusX is the best channel for Data-Science students.

In [ ]:
test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}
modified_word = []
words = test_str.split()
for word in words:
     modified_word.append(repl_dict.get(word,word))           #get has 2 argument key-> corresponding value and default-> return if specified key is not found
modified_str = ' '.join(modified_word)
print(modified_str)

CampusX is the best channel for Data-Science students.

### `Q3`: Convert List to List of dictionaries. Given list values and keys list, convert these values to key value pairs in form of list of dictionaries.

**Example 1:**

Input:
```bash
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]
```

**Example 2:**

Input:
```bash
test_list = ["CampusX", 10]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'CampusX', 'id': 10}]
```

In [ ]:
test_list = ["CampusX", 10]
key_list = ["name", "id"]
{key: value for (key,value) in zip(key_list,test_list)}

{'name': 'CampusX', 'id': 10}

In [ ]:
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]
dict1 = {key:value for (key,value) in zip(key_list,test_list[:2])}
dict2 = {key:value for (key,value) in zip(key_list,test_list[2:])}
result = []
result.append(dict1)
result.append(dict2)
print(result)

[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]

### `Q4`: Convert a list of Tuples into Dictionary.

**Example 1:**

Input:
```bash
[("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
```

Output:
```bash
{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}
```

**Example 2:**

Input:
```bash
[('A', 1), ('B', 2), ('C', 3)]
```

Output:
```bash
{'A': [1], 'B': [2], 'C': [3]}
```

In [ ]:
tuples = [("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
dictionary = {key: [value] for (key,value) in tuples}
print(dictionary)

{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}

### `Q5`: Sort Dictionary key and values List.

**Example 1:**

Input:

```bash
{'c': [3], 'b': [12, 10], 'a': [19, 4]}
```

Output:

```bash
{'a': [4, 19], 'b': [10, 12], 'c': [3]}
```

**Example 2:**

Input:

```bash
{'c': [10, 34, 3]}
```

Output:

```bash
{'c': [3, 10, 34]}
```

In [ ]:
dictionary = {'c': [3], 'b': [12, 10], 'a': [19, 4]}
#dictionary.items()
#sorted(dictionary.items())       # sort key and pair keys value
sorted_dict = { key : sorted(value) for (key,value) in sorted(dictionary.items())}
print(sorted_dict)

{'a': [4, 19], 'b': [10, 12], 'c': [3]}

In [ ]:
dictionary = {'c': [10, 34, 3]}
sorted_dict = { key : sorted(value) for (key,value) in sorted(dictionary.items())}
print(sorted_dict)

{'c': [3, 10, 34]}