## **Questions based on Titanic Dataset:**

To read the dataset as csv, use the below code:

```python
import pandas as pd

url = "https://docs.google.com/spreadsheets/d/e/2PACX-1vQjh5HzZ1N0SU7ME9ZQRzeVTaXaGsV97rU8R7eAcg53k27GTstJp9cRUOfr55go1GRRvTz1NwvyOnuh/pub?gid=1562145139&single=true&output=csv"
titanic_df = pd.read_csv(url)
```

### `Q-1:` Using `groupby` make groups using the `"Pclass"` column and find out the average age and total number of missing values in the `"Age"` column for every group.

In [ ]:
# code here
import pandas as pd

url = "https://docs.google.com/spreadsheets/d/e/2PACX-1vQjh5HzZ1N0SU7ME9ZQRzeVTaXaGsV97rU8R7eAcg53k27GTstJp9cRUOfr55go1GRRvTz1NwvyOnuh/pub?gid=1562145139&single=true&output=csv"
titanic_df = pd.read_csv(url)

In [ ]:
titanic_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
titanic_df.shape

(891, 12)

In [ ]:
pclass = titanic_df.groupby('Pclass')
avg = pclass['Age'].mean()
total_missing = pclass['Age'].apply(lambda x: x.isna().sum())

for pclass_value,avg_age,missing_value_count in zip(avg.index,avg,total_missing):
   print(f'Pclass {pclass_value} : avg_age {avg_age} and total missing value {missing_value_count}')

Pclass 1 : avg_age 38.233440860215055 and total missing value 30
Pclass 2 : avg_age 29.87763005780347 and total missing value 11
Pclass 3 : avg_age 25.14061971830986 and total missing value 136

### `Q-2:` Using `groupby` make groups using the `"Pclass"` column and fill every group's `"Embarked"` column's missing values with the mode value of that group. After that, print every group's `"Embarked"` column's value counts in ascending order.

In [ ]:
# code here
titanic_df.head()
pclass.groups.keys()

dict_keys([1, 2, 3])

In [ ]:
for group in list(pclass.groups.keys()):
   mode= pclass.get_group(group)['Embarked'].mode()
   pclass.get_group(group)['Embarked'].fillna(mode)
   print(pclass.get_group(group)['Embarked'].value_counts(ascending=True))

Q      2
C     85
S    127
Name: Embarked, dtype: int64
Q      3
C     17
S    164
Name: Embarked, dtype: int64
C     66
Q     72
S    353
Name: Embarked, dtype: int64

In [ ]:
for group,data in pclass :
   mode= pclass.get_group(group)['Embarked'].mode()
   pclass.get_group(group)['Embarked'].fillna(mode)
   print(pclass.get_group(group)['Embarked'].value_counts(ascending=True))

Q      2
C     85
S    127
Name: Embarked, dtype: int64
Q      3
C     17
S    164
Name: Embarked, dtype: int64
C     66
Q     72
S    353
Name: Embarked, dtype: int64

### `Q-3:` Make groups based on `"Embarked"` column. And for each of this embarked group, make another group based on `"Pclass"` and find out the average fare (round off up to 2 decimal places) for each "Pclass" for each group of "Embarked".

**Sample Output:**

```bash
{'C': {1: 105, 2: 25, 3: 11},
 'Q': {1: 90, 2: 12, 3: 11},
 'S': {1: 70, 2: 20, 3: 15}}
```

In [ ]:
# code here
embarked_group = titanic_df.groupby('Embarked')
result = {}
for embarked, group_data in embarked_group:
  pclass_group = group_data.groupby('Pclass')['Fare'].mean().round(2).to_dict()
  result[embarked] = pclass_group



result

{'C': {1: 104.72, 2: 25.36, 3: 11.21},
 'Q': {1: 90.0, 2: 12.35, 3: 11.18},
 'S': {1: 70.36, 2: 20.33, 3: 14.64}}

## **Questions Based on Fifa Worldcup - 2022 Dataset:**

You can read the dataset by using the below sample code

```python
import pandas as pd

fifa_df = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vT3D_x_4DS6d51LKJ7ze1sxT5WpV5uiSVOFYHLwBiGru6vFyVv5h5-83AwFjxWYiWfCDjDAaarHAV-k/pub?gid=0&single=true&output=csv")
```

In [ ]:
import pandas as pd

fifa_df = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vT3D_x_4DS6d51LKJ7ze1sxT5WpV5uiSVOFYHLwBiGru6vFyVv5h5-83AwFjxWYiWfCDjDAaarHAV-k/pub?gid=0&single=true&output=csv")
fifa_df.head()

,Sl. No,Match No.,Team,Against,Group,Goal,Possession (%),Inside Penalty Area,Outside Penalty Area,Assists,...,Fouls Against,Offsides,Passes,Passes Completed,Crosses,Crosses Completed,Corners,Free Kicks,Penalties Scored,Pts
0,1,1,Qatar,Ecuador,A,0,40,0,0,0,...,15,3,453,387,10,5,1,19,0,0
1,2,1,Ecuador,Qatar,A,2,46,2,0,1,...,15,4,484,419,26,10,3,17,1,3
2,3,2,England,Iran,B,6,69,6,0,6,...,9,2,810,733,29,9,8,16,0,3
3,4,2,Iran,England,B,2,20,2,0,1,...,14,2,232,156,11,3,0,10,1,0
4,5,3,Senegal,Netherlands,A,0,39,0,0,0,...,13,2,391,326,22,8,6,14,0,0

### `Q-4:` Perform `groupby` based on the `"Team"` column and then perform Z Normalization on top of the below columns of each group:
1. Passes
2. Passes Completed
3. Attempted Line Breaks
4. Completed Line Breaks

You have to make a python function named `z_normalization` which takes two arguments:

1. *group:* Every group that you have created
2. *cols_to_perform:* This parameter takes a list of columns on which you have to perform the Z-Normalization.

For this problem, you have to use th `apply()` method.

$\Large Z \ - \ Normalization = \frac{X_i - \mu}{std} $

After that find out the below values for each group:
- minimum "Passess"
- maximum "Passess"
- minimum "Yellow Cards"
- maximum "Yellow cards"
- average "Yellow Cards"
- maximum "Attempted Line Breaks"
- minimum "Attempted Line Breaks"
- standardard deviation of "Attempted Line Breaks"
- average Possession

In [ ]:
# code here
def z_normalization(group,cols_to_perform):
  for col in cols_to_perform:
    mean = group[col].mean()
    std = group[col].std()
    group[f"{col}_z_norm"] = (group[col]-mean)/std
  return group

In [ ]:
groups = fifa_df.groupby('Team')
cols_to_perform = ['Passes','Passes Completed','Attempted Line Breaks','Completed Line Breaks']
groups = groups.apply(z_normalization,cols_to_perform=cols_to_perform).groupby("Team")
groups.agg(
    {
        "Passes": ["min","max"],
        "Yellow Cards": ["min","max","mean"],
         "Attempted Line Breaks" : ["max","min","std"],
         "Possession (%)": 'mean'
         }
)

<ipython-input-47-4c88c14c80d3>:3: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  groups = groups.apply(z_normalization,cols_to_perform=cols_to_perform).groupby("Team")

               Passes       Yellow Cards               Attempted Line Breaks  \
                  min   max          min max      mean                   max
Team
Argentina         408   862            0   8  2.285714                   249
Australia         286   466            0   3  1.750000                   171
Belgium           512   685            1   3  1.666667                   195
Brazil            548   695            0   3  1.200000                   193
Cameroon          295   500            1   5  2.666667                   182
Canada            448   536            2   4  2.666667                   176
Costa Rica        231   454            1   3  2.000000                   154
Croatia           461   724            0   2  1.142857                   259
Denmark           537   650            1   2  1.666667                   241
Ecuador           429   484            0   2  1.000000                   177
England           508   810            0   1  0.200000                   208
France            358   734            0   3  1.142857                   179
Germany           352   827            0   3  1.000000                   256
Ghana             319   460            2   4  2.666667                   188
Iran              232   463            2   3  2.333333                   195
Japan             225   591            0   3  1.500000                   253
Korea Republic    359   548            1   2  1.500000                   201
Mexico            356   500            1   4  2.333333                   198
Morocco           229   583            0   3  1.285714                   157
Netherlands       403   786            0   4  1.800000                   198
Poland            303   466            1   3  1.750000                   156
Portugal          461   678            0   3  1.200000                   197
Qatar             424   457            0   4  2.333333                   174
Saudi Arabia      267   560            2   6  4.666667                   205
Senegal           277   511            1   3  1.750000                   184
Serbia            403   513            2   7  4.000000                   184
Spain             647  1070            0   1  0.500000                   237
Switzerland       403   512            1   4  2.250000                   178
Tunisia           328   501            1   3  1.666667                   200
United States     427   572            0   4  1.250000                   204
Uruguay           390   528            1   3  2.000000                   186
Wales             325   508            1   2  1.666667                   208

                               Possession (%)
                min        std           mean
Team
Argentina       141  38.774685      49.285714
Australia       133  17.682383      31.250000
Belgium         167  14.422205      49.000000
Brazil          164  10.691118      50.400000
Cameroon        144  19.857828      38.333333
Canada          102  37.753587      44.333333
Costa Rica       86  38.974351      27.333333
Croatia          97  54.499891      47.428571
Denmark         173  34.000000      51.333333
Ecuador         143  17.009801      42.666667
England         133  29.676590      57.200000
France          126  21.407609      44.857143
Germany         143  56.624494      53.000000
Ghana           122  33.020196      37.000000
Iran             56  77.526340      31.666667
Japan           104  64.048810      30.250000
Korea Republic  139  27.072434      42.250000
Mexico          127  40.706265      46.666667
Morocco         128  10.641339      34.285714
Netherlands     168  12.759310      44.000000
Poland           79  36.326070      32.000000
Portugal        165  13.049904      53.800000
Qatar           159   7.767453      39.333333
Saudi Arabia    147  29.022979      36.666667
Senegal         143  16.938615      38.500000
Serbia          140  22.188586      42.666667
Spain           186  24.289916      67.000000
Switzerland     157   9.032349      43.000000
Tunisia         153  24.419937      38.666667
United States   143  27.693260      47.000000
Uruguay         146  22.030282      41.000000
Wales           104  53.028294      41.000000

## **Questions on IPL wala dataset**

ball by ball dataset - https://drive.google.com/file/d/1-kvv_9KCSAFWcrhS9WgTxSrURkRh6GNt/view?usp=share_link

###`Q-5:` Find batsman in below category-
* Highest score while chasing
* Best Strike rate while chasing and have faced 100+ balls


> Chasing mean team batting in second inning

In [ ]:
import pandas as pd
balls = pd.read_csv('/content/ipl_deliveries.csv')

In [ ]:
# code here
#1
df = balls[balls['innings']==2]
df.groupby(["ID","batter"]).sum().sort_values(by='batsman_run',ascending=False)["batsman_run"].head()

<ipython-input-12-a51c97843508>:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(["ID","batter"]).sum().sort_values(by='batsman_run',ascending=False)["batsman_run"].head()

ID       batter
1312199  JC Buttler    106.0
1304104  MR Marsh       89.0
1312198  KL Rahul       79.0
1304113  V Kohli        73.0
1312197  DA Miller      68.0
Name: batsman_run, dtype: float64

In [ ]:
#2 Best Strike rate while chasing and have faced 100+ balls
temp_df = df[~(df.extra_type=="wides")]
temp_df = temp_df.groupby("batter").agg(
    {
        "batsman_run":"sum",
        "ballnumber":"count"
    }
)
temp_df["strike_rate"] = temp_df["batsman_run"]/temp_df["ballnumber"]*100
temp_df[temp_df["ballnumber"]>= 100].sort_values("strike_rate",ascending=False).reset_index().head()

         batter  batsman_run  ballnumber  strike_rate
0     DA Miller        159.0         107   148.598131
1      MR Marsh        151.0         102   148.039216
2  Ishan Kishan        174.0         135   128.888889
3  Shubman Gill        181.0         145   124.827586
4       WP Saha        156.0         128   121.875000

###`Q-6` Most Successful bowler against any batsman. Find that pair of bowler and batsman.
> Most Successful in terms of dissmissal. A bowler who have dissmissed any batsman most no of times. If any two pairs have same no of dissmisal, consider runs conceded by bowler to that batsman. Those who have concede lesser runs is more successful.

In [ ]:
balls["IsBatterOut"] = balls['batter']==balls['player_out']
balls.groupby(['bowler','batter']).agg({
        "IsBatterOut" : "sum",
        "batsman_run": "sum"
}).sort_values(by=["IsBatterOut","batsman_run"],ascending=[False,True]).head()

                               IsBatterOut  batsman_run
bowler            batter
SP Narine         Lalit Yadav            3            4
PWH de Silva      SV Samson              3           23
Avesh Khan        JC Buttler             2            0
M Prasidh Krishna V Kohli                2            0
Rashid Khan       KH Pandya              2            0

###`Q-7`: Most successful batting pair in IPL. Batting pair who have scored most runs playing together.

In [ ]:
# code here
balls.head()

,ID,Team,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam,BowlingTeam,IsBatterOut
0,1312200,Rajasthan RoyalsGujarat Titans,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals,Gujarat Titans,False
1,1312200,Rajasthan RoyalsGujarat Titans,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals,Gujarat Titans,False
2,1312200,Rajasthan RoyalsGujarat Titans,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals,Gujarat Titans,False
3,1312200,Rajasthan RoyalsGujarat Titans,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals,Gujarat Titans,False
4,1312200,Rajasthan RoyalsGujarat Titans,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals,Gujarat Titans,False

In [ ]:
import numpy as np
def func(x):
  return '-'.join(list(np.sort(x.values)))

In [ ]:
balls["batter-pair"]= balls[["batter","non-striker"]].apply(func,axis=1)
balls.groupby("batter-pair")["total_run"].sum().sort_values(ascending=False).head()

batter-pair
KL Rahul-Q de Kock               585
Ishan Kishan-RG Sharma           562
D Padikkal-JC Buttler            562
JC Buttler-SV Samson             457
Abhishek Sharma-KS Williamson    432
Name: total_run, dtype: int64

In [ ]:
balls.columns

Index(['ID', 'Team', 'innings', 'overs', 'ballnumber', 'batter', 'bowler',
       'non-striker', 'extra_type', 'batsman_run', 'extras_run', 'total_run',
       'non_boundary', 'isWicketDelivery', 'player_out', 'kind',
       'fielders_involved', 'BattingTeam', 'BowlingTeam', 'IsBatterOut',
       'batter-pair'],
      dtype='object')

###`Q-8:` Make a dataframe for all batting pairs played together.
```
Batsman1 Batsman2 Runs Avg StrikeRate
```

> Just to ease this question you can count wide-balls for strike rate.

In [ ]:
# code here
temp_df = balls.groupby('batter-pair').agg({
    "total_run":"sum",
    "ballnumber":"count",
    "isWicketDelivery":"sum"
}).reset_index()
temp_df["Batsman1"] = temp_df['batter-pair'].apply(lambda x:x.split('-')[0])
temp_df["Batsman2"] = temp_df['batter-pair'].apply(lambda x:x.split('-')[1])
temp_df.rename(columns={"total_run":"Runs"},inplace=True)
temp_df["StrikeRate"] = temp_df["Runs"]/temp_df["ballnumber"]*100
temp_df["Avg"] = temp_df["Runs"]/ temp_df["isWicketDelivery"]
temp_df.sort_values("Runs",ascending=False,inplace=True)
temp_df[["Batsman1","Batsman2","Runs","StrikeRate","Avg"]]

            Batsman1           Batsman2  Runs  StrikeRate        Avg
372         KL Rahul          Q de Kock   585  137.647059  41.785714
273     Ishan Kishan          RG Sharma   562  129.195402  35.125000
146       D Padikkal         JC Buttler   562  140.852130  46.833333
284       JC Buttler          SV Samson   457  145.541401  38.083333
86   Abhishek Sharma      KS Williamson   432  116.756757  36.000000
..               ...                ...   ...         ...        ...
410         M Ashwin           TS Mills     0    0.000000   0.000000
271     Harshit Rana           UT Yadav     0    0.000000        NaN
278        J Suchith         R Shepherd     0    0.000000   0.000000
458         MS Dhoni         RV Uthappa     0    0.000000   0.000000
84       Abdul Samad  Washington Sundar     0    0.000000   0.000000

[599 rows x 5 columns]