### `Problem 1`: Write a program that will give you in hand monthly salary after deduction on CTC - HRA(10%), DA(5%), PF(3%) and taxes deduction as below:

> Salary(Lakhs) : Tax(%)

*   Below 5 : 0%
*   5-10 : 10%
*   10-20 : 20%
*   aboove 20 : 30%

In [ ]:
# Write code here
gross_salery = int(input("enter gross salery"))
HRA=gross_salery*10/100
DA=gross_salery*5/100
PF=gross_salery*3/100
salery = gross_salery - HRA-DA-PF
if salery<=500000 :
  monthly_salery = salery
elif salery<=10000:
  monthly_salery = salery-10/100
elif salery<=200000:
  monthly_salery = salery-20/100
elif salery>200000:
  monthly_salery = salery-30/100
print( monthly_salery)

enter gross salery700000
573999.7

In [ ]:
CTC = float(input("Enter CTC (in lakhs): "))

HRA = CTC * 0.1
DA = CTC * 0.05
PF = CTC * 0.03

net_salary = CTC - HRA - DA - PF

if CTC < 5:
    monthly_salary = net_salary
elif CTC >= 5 and CTC < 10:
    monthly_salary = net_salary - (net_salary * 0.1)
elif CTC >= 10 and CTC < 20:
    monthly_salary = net_salary - (net_salary * 0.2)
else:
    monthly_salary = net_salary - (net_salary * 0.3)

print("Monthly Salary: Rs.", monthly_salary)

Enter CTC (in lakhs): 700000
Monthly Salary: Rs. 401800.0

### `Problem 2`: Write a program that take a user input of three angles and will find out whether it can form a triangle or not.

In [ ]:
# Write code here
a1 = int(input("enter 1st angle"))
a2 =int(input("enter 2nd angle"))
a3 = int(input("enter 3rd angle"))
sum=a1+a2+a3
if sum==180:
  print("triangle")
else:
  print("not triangle")

enter 1st angle30
enter 2nd angle40
enter 3rd angle110
triangle

### `Problem 3`: Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit.

In [ ]:
# Write code here
cost_price = int(input("enter cost price "))
selling_price = int(input("enter selling price "))
if cost_price<selling_price:
  profit =selling_price-cost_price
  print("profit",profit)
elif cost_price>selling_price:
  loss = cost_price-selling_price
  print("loss",loss)
else:
  print("no loss no profit")

enter cost price 30
enter selling price 40
profit 10

### `Problem 4`: Write a menu-driven program -
1. cm to ft
2. km to miles
3. USD to INR
4. exit

In [ ]:
menu = int(input("""choose the operation you want to perform
1.enter 1 to convert cm to ft
2.enter 2 to convert km to miles
3.enter 3 to convert USD to INR
4.enter 4 to exit"""))

if menu==1 :
  cm = float(input("enter cm"))
  ft = 0.0328084*cm
  print("feat", ft)
elif menu==2 :
  km = float(input("enter km"))
  miles = km*0.62137119
  print("miles", miles)
elif menu==3 :
  USD = float(input("enter USD"))
  INR= USD*82.32
  print("usd", INR)
else:
  print("exit")

choose the operation you want to perform
1.enter 1 to convert cm to ft
2.enter 2 to convert km to miles
3.enter 3 to convert USD to INR
4.enter 4 to exit2
enter km1
miles 0.62137119

### `Problem 5` - Exercise 12: Display Fibonacci series up to 10 terms.

*Note: The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1. For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34*

In [ ]:
# Write code here
n = 8
x=0
print(0)
y=1
print(y)

z=x+y
while(n>=z):
  print(z)
  x=y
  y=z
  z=x+y

0
1
1
2
3
5
8

### `Problem 6` - Find the factorial of a given number.

Write a program to use the loop to find the factorial of a given number.

The factorial (symbol: `!`) means to multiply all whole numbers from the chosen number down to 1.

For example: calculate the factorial of 5

```bash
5! = 5 × 4 × 3 × 2 × 1 = 120
```

Output:

```bash
120
```

In [ ]:
i = int(input("enter number"))
fact = 1
while(i>0):
  fact = fact*i
  i=i-1
print("factorial",fact)

enter number5
factorial 120

### `Problem 7` - Reverse a given integer number.

Example:

`Input:`

```bash
76542
```

`Output:`

```bash
24567
```

In [ ]:
i = int(input())
rev = 0
while(i>0):
  rev=rev*10+i%10
  i//10
print("reverse",rev)

78542

KeyboardInterrupt: ignored

### `Problem 8`: Take a user input as integer N. Find out the sum from 1 to N. If any number if divisible by 5, then skip that number. And if the sum is greater than 300, don't need to calculate the sum further more. Print the final result. And don't use for loop to solve this problem.

**Example 1:**

`Input:`

```bash
30
```

`Output:`

```bash
276
```

In [ ]:
c

enter number30
303

In [ ]:
n = int(input("Enter a number: "))
total_sum = 0
i = 1

while i <= n:
    if i % 5 == 0:
        i += 1
        continue
    total_sum += i
    if total_sum > 300:
        break
    i += 1

print("Final result:", total_sum)

Enter a number: 30
Final result: 303

### `Problem 9`: Write a program that keeps on accepting a number from the user until the user enters Zero. Display the sum and average of all the numbers.

In [ ]:
# Write code here
sum=0
while True:
  n = int(input("enter number [0 to stop]"))
  if n!=0:
    sum=sum+n
  else:
    break
print(sum)

enter number [0 to stop]5
enter number [0 to stop]2
enter number [0 to stop]6
enter number [0 to stop]0
13

###`Problem 9`: Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [ ]:
for n in range(2000,3201):
  if n%7==0 and n%5!=0:
    print("number",n,end=",")

number 2002,number 2009,number 2016,number 2023,number 2037,number 2044,number 2051,number 2058,number 2072,number 2079,number 2086,number 2093,number 2107,number 2114,number 2121,number 2128,number 2142,number 2149,number 2156,number 2163,number 2177,number 2184,number 2191,number 2198,number 2212,number 2219,number 2226,number 2233,number 2247,number 2254,number 2261,number 2268,number 2282,number 2289,number 2296,number 2303,number 2317,number 2324,number 2331,number 2338,number 2352,number 2359,number 2366,number 2373,number 2387,number 2394,number 2401,number 2408,number 2422,number 2429,number 2436,number 2443,number 2457,number 2464,number 2471,number 2478,number 2492,number 2499,number 2506,number 2513,number 2527,number 2534,number 2541,number 2548,number 2562,number 2569,number 2576,number 2583,number 2597,number 2604,number 2611,number 2618,number 2632,number 2639,number 2646,number 2653,number 2667,number 2674,number 2681,number 2688,number 2702,number 2709,number 2716,number 2723,number 2737,number 2744,number 2751,number 2758,number 2772,number 2779,number 2786,number 2793,number 2807,number 2814,number 2821,number 2828,number 2842,number 2849,number 2856,number 2863,number 2877,number 2884,number 2891,number 2898,number 2912,number 2919,number 2926,number 2933,number 2947,number 2954,number 2961,number 2968,number 2982,number 2989,number 2996,number 3003,number 3017,number 3024,number 3031,number 3038,number 3052,number 3059,number 3066,number 3073,number 3087,number 3094,number 3101,number 3108,number 3122,number 3129,number 3136,number 3143,number 3157,number 3164,number 3171,number 3178,number 3192,number 3199,

###`Problem 10`: Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a space-separated sequence on a single line.

In [ ]:
for number in range(1000,3001 ):
    thousands = number // 1000
    hundreds = (number // 100) % 10
    tens = (number // 10) % 10
    units = number % 10

    # Check if all digits are even
    if thousands % 2 == 0 and hundreds % 2 == 0 and tens % 2 == 0 and units % 2 == 0:
        print(number, end=" ")

2000 2002 2004 2006 2008 2020 2022 2024 2026 2028 2040 2042 2044 2046 2048 2060 2062 2064 2066 2068 2080 2082 2084 2086 2088 2200 2202 2204 2206 2208 2220 2222 2224 2226 2228 2240 2242 2244 2246 2248 2260 2262 2264 2266 2268 2280 2282 2284 2286 2288 2400 2402 2404 2406 2408 2420 2422 2424 2426 2428 2440 2442 2444 2446 2448 2460 2462 2464 2466 2468 2480 2482 2484 2486 2488 2600 2602 2604 2606 2608 2620 2622 2624 2626 2628 2640 2642 2644 2646 2648 2660 2662 2664 2666 2668 2680 2682 2684 2686 2688 2800 2802 2804 2806 2808 2820 2822 2824 2826 2828 2840 2842 2844 2846 2848 2860 2862 2864 2866 2868 2880 2882 2884 2886 2888

In [ ]:
result = []  # List to store the numbers that satisfy the condition

for number in range(1000, 3001):
    thousands = number // 1000
    hundreds = (number // 100) % 10
    tens = (number // 10) % 10
    units = number % 10

    # Check if all digits are even
    if thousands % 2 == 0 and hundreds % 2 == 0 and tens % 2 == 0 and units % 2 == 0:
        print(number,end=" ")

2000 2002 2004 2006 2008 2020 2022 2024 2026 2028 2040 2042 2044 2046 2048 2060 2062 2064 2066 2068 2080 2082 2084 2086 2088 2200 2202 2204 2206 2208 2220 2222 2224 2226 2228 2240 2242 2244 2246 2248 2260 2262 2264 2266 2268 2280 2282 2284 2286 2288 2400 2402 2404 2406 2408 2420 2422 2424 2426 2428 2440 2442 2444 2446 2448 2460 2462 2464 2466 2468 2480 2482 2484 2486 2488 2600 2602 2604 2606 2608 2620 2622 2624 2626 2628 2640 2642 2644 2646 2648 2660 2662 2664 2666 2668 2680 2682 2684 2686 2688 2800 2802 2804 2806 2808 2820 2822 2824 2826 2828 2840 2842 2844 2846 2848 2860 2862 2864 2866 2868 2880 2882 2884 2886 2888

###`Problem 11`: A robot moves in a plane starting from the original point (0,0). The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps.
The trace of robot movement is shown as the following:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
> The numbers after the direction are steps.

> `!` means robot stop there.

**Please write a program to compute the distance from current position after a sequence of movement and original point.**

*If the distance is a float, then just print the nearest integer.*

Example:

`Input`:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
`Output`:
```
2
```

In [ ]:
# Write code here

###`Problem 12`:Write a program to print whether a given number is a prime number or not

In [ ]:
n = int(input("enter number"))
count = 0
i=1
while(i<=n):
  if(n%i==0):
    count+=1
i=i+1
if(count==2):
  print("prime no")
else:
  print("composite no")

###`Problem 13`:Print all the Armstrong numbers in a given range.
Range will be provided by the user<br>
Armstrong number is a number that is equal to the sum of cubes of its digits. For example 0, 1, 153, 370, 371 and 407 are the Armstrong numbers.

In [ ]:
i = int(input("enter no to check for armstrong"))
orig = i
sum=0
while(i>0):
  sum = sum+(i%10)*(i%10)*(i%10)
  i//10
if orig==sum:
  print("no is armstrong")
else:
  print("no is not armstrong")

###`Problem 14`:Calculate the angle between the hour hand and minute hand.

Note: There can be two angles between hands; we need to print a minimum of two. Also, we need to print the floor of the final result angle. For example, if the final angle is 10.61, we need to print 10.

Input:<br>
H = 9 , M = 0<br>
Output:<br>
90<br>
Explanation:<br>
The minimum angle between hour and minute
hand when the time is 9 is 90 degress.

In [ ]:
x= float(input("enter the hour"))
y= float(input("enter the minute"))
hour = 30*x+0.5*y ;
minute = 0*x + 6*y ;
angle = hour-minute;
if angle>180:
  angle = 360-angle
  print(int(angle))

enter the hour9
enter the minute0
90

###`Problem 15`:Given two rectangles, find if the given two rectangles overlap or not. A rectangle is denoted by providing the x and y coordinates of two points: the left top corner and the right bottom corner of the rectangle. Two rectangles sharing a side are considered overlapping. (L1 and R1 are the extreme points of the first rectangle and L2 and R2 are the extreme points of the second rectangle).

Note: It may be assumed that the rectangles are parallel to the coordinate axis.

<img src='https://www.geeksforgeeks.org/wp-content/uploads/rectanglesOverlap.png' width='300' height='200'>

In [ ]:
def check_overlap(L1, R1, L2, R2):
    # Check if any of the conditions for non-overlapping are true
    if (R1[0] < L2[0]) or (R2[0] < L1[0]) or (R1[1] < L2[1]) or (R2[1] < L1[1]):
        return False
    else:
        return True

# Example usage
L1 = (0, 0)
R1 = (2, 2)
L2 = (1, 1)
R2 = (3, 3)

if check_overlap(L1, R1, L2, R2):
    print("Rectangles overlap")
else:
    print("Rectangles do not overlap")