# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**:
```
"Data" "Science" "Mentorship" "Program"
"By" "CampusX"
```
**Output**:
```
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [3]:
print("Data", "Science" ,"Mentorship", "Program" ,"By" ,"CampusX",sep= '-')

Data-Science-Mentorship-Program-By-CampusX

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [4]:
celsius = int(input("enter temp in celsius"))
fahrenheit = (celsius*1.8)+ 32
print("the converted value is",fahrenheit,"fahrenheit")

enter temp in celsius30
the converted value is 86.0 fahrenheit

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [7]:
# Taking input from the user
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))

print("Before swapping:")
print("num1 =", num1)
print("num2 =", num2)

# Swapping the numbers
temp = num1
num1 = num2
num2 = temp

print("After swapping:")
print("num1 =", num1)
print("num2 =", num2)

Enter the first number: 5
Enter the second number: 4
Before swapping:
num1 = 5
num2 = 4
After swapping:
num1 = 4
num2 = 5

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [12]:
import math

# Taking input from the user
x1 = float(input("Enter the x-coordinate of the first point: "))
y1 = float(input("Enter the y-coordinate of the first point: "))
x2 = float(input("Enter the x-coordinate of the second point: "))
y2 = float(input("Enter the y-coordinate of the second point: "))

# Calculating the Euclidean distance
distance = math.sqrt((x2 - x1)**2 + (y2 - y1)**2)

# Printing the Euclidean distance
print("The Euclidean distance between the two points is:", distance)

Enter the x-coordinate of the first point: 2
Enter the y-coordinate of the first point: 3
Enter the x-coordinate of the second point: 4
Enter the y-coordinate of the second point: 3
The Euclidean distance between the two points is: 2.0

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [14]:
# Taking input from the user
principle = float(input("Enter the principle amount: "))
rate = float(input("Enter the rate of interest (in percentage): "))
time = float(input("Enter the time period (in years): "))

# Calculating the simple interest
interest = (principle * rate * time) / 100

# Printing the simple interest
print("The simple interest is:", interest)

Enter the principle amount: 5000
Enter the rate of interest (in percentage): 10
Enter the time period (in years): 10
The simple interest is: 5000.0

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [15]:
# Taking input from the user
heads = int(input("Enter the total number of heads: "))
legs = int(input("Enter the total number of legs: "))

# Assuming all animals are chickens initially
chickens = heads

# Calculating the number of dogs
while True:
    dogs = heads - chickens
    if (2 * chickens + 4 * dogs) == legs:
        break
    chickens -= 1

# Printing the number of dogs and chickens
print("Number of dogs:", dogs)
print("Number of chickens:", chickens)

Enter the total number of heads: 4
Enter the total number of legs: 12
Number of dogs: 2
Number of chickens: 2

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [ ]:
# Write your code here
n = int(input("enter the number "))
sum=0
i=1
while(n>=i):
  sum = sum+(i*i)
  i+=1
print(sum)

enter the number 3
14

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [ ]:
# Write your code here
a = int(input("enter first number"))
d =int(input("enter the difference"))
n = int(input("enter nth term "))
an = a+(n-1)*d
print(an)

enter first number2
enter the difference2
enter nth term 5
10

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [ ]:
# let 2 fraction is A/B , C/D
A =int(input())
B =int(input())
C =int(input())
D =int(input())
result1 = (A*D)+(C*B)# CROSS MULTIPLY
result2 = (B*D)

print("the result is =",result1/result2)
print("the result is = {}/{}".format(result1,result2))

2
3
3
7
the result is = 1.0952380952380953
the result is = 23/21

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [ ]:
# Write your code here
ht = int(input(" height of tank"))
lt = int(input(" length of tank"))
bt = int(input("breadth of tank"))
hg = int(input("height of glass "))
rg = int(input("radius of glass"))
vol_tank = ht*lt*bt
vol_glass = (22/7)*(rg**2)*hg
n = vol_tank/vol_glass
print(n)

 height of tank20
 length of tank20
breadth of tank20
height of glass 3
radius of glass1
848.4848484848485