###`Problem 1:` Combine two lists index-wise(columns wise)

Write a program to add two lists index-wise. Create a new list that contains the 0th index item from both the list, then the 1st index item, and so on till the last element. any leftover items will get added at the end of the new list.

`Given List:`
```
list1 = ["M", "na", "i", "Kh"]
list2 = ["y", "me", "s", "an"]
```

`Output:`
```
[['M','y'], ['na', me'], ['i', 's'], ['Kh', 'an']]
```

In [ ]:
# Write code here

### `Problem 2:` Add new item to list after a specified item
Write a program to add item 7000 after 6000 in the following Python List
```
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
```
`Output:`
```
[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]
```

In [ ]:
# Write code here

###`Problem 3:` Update no of items available

Suppose you are given a list of candy and another list of same size representing no of items of respective candy.

i.e -
```
candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items = [10,20,34,74,32]
```

Write a program to show no. of items of each candy type.

`Output:`

```
Jelly Belly-10
Kit Kat-20
Double Bubble-34
Milky Way-74
Three Musketeers-32

```

In [ ]:
candy_list = ['Jelly Belly', 'Kit Kat', 'Double Bubble', 'Milky Way', 'Three Musketeers']
no_of_items = [10, 20, 34, 74, 32]

for candy, quantity in zip(candy_list, no_of_items):
    print(candy,"-",quantity)

Jelly Belly - 10
Kit Kat - 20
Double Bubble - 34
Milky Way - 74
Three Musketeers - 32

In [ ]:
len()

5

In [ ]:
candy_list = ['Jelly Belly', 'Kit Kat', 'Double Bubble', 'Milky Way', 'Three Musketeers']
no_of_items = [10, 20, 34, 74, 32]

for i in range(len(no_of_items)):
    candy = candy_list[i]
    quantity = no_of_items[i]
    print(candy,"-",quantity)

Jelly Belly - 10
Kit Kat - 20
Double Bubble - 34
Milky Way - 74
Three Musketeers - 32

###`Problem 4:` Running Sum on list
Write a program to print a list after performing running sum on it.

i.e:

`Input:`
```
list1 = [1,2,3,4,5,6]
```
`Output:`
```
[1,3,6,10,15,21]
```

In [ ]:
list1 = [1,2,3,4,5,6]
sum=0
l2=[]
for i in list1:
  sum = sum+i
  l2.append(sum)
print(l2)
len(list1)

[1, 3, 6, 10, 15, 21]

6

In [ ]:
list1 = [1, 2, 3, 4, 5, 6]
l2 = [sum(list1[:i+1]) for i in range(len(list1))]

print(l2)

TypeError: ignored

In [ ]:
list1 = [1,2,3,4,5,6]
l2 = [sum(list1[:i+1]) for i in range(len(list1))]
print(l2)

TypeError: ignored

###`Problem 5:` You are given a list of integers. You are asked to make a list by running through elements of the list by adding all elements greater and itself.

i.e. Say given list is `[2,4,6,10,1]`
resultant list will be `[22,20,10,23]`.

For 1st element `2` ->> these are greater `(4+6+10)` values and `2` itself so on adding becomes `22`.

For 2nd element `4` ->> greater elements are `(6, 10)` and `4` itself, so on adding `20`

like wise for all other elememts.

`[2,4,6,10,1]`-->`[22,20,16,10,23]`

In [ ]:
lst = [2,4,6,10,1]
l2 =[]

for i in range(len(lst)):
   total = 0
   for x in lst:
      if x >= lst[i]:
        total+=x
   l2.append(total)
print(l2)

[22, 20, 16, 10, 23]

In [ ]:
lst = [2,4,6,10,1]
l2=[]
for i in range(len(lst)):
    total=sum([x for x in lst if x>= lst[i]])
    l2.append(total)

print(l2)

[22, 20, 16, 10, 23]

###`Problem 6:` Find list of common unique items from two list. and show in increasing order

`Input`

```
num1 = [23,45,67,78,89,34]
num2 = [34,89,55,56,39,67]
```

`Output:`
```
[34, 67, 89]
```

In [ ]:
num1 = [23,45,67,78,89,34]
num2 = [34,89,55,56,39,67]
l3=[]
for i in num1:
    if i in num2:
       l3.append(i)
l3.sort()
print(l3)

[34, 67, 89]

In [ ]:
num1 = [23,45,67,78,89,34]
num2 = [34,89,55,56,39,67]
l3 = [i for i in num1 if i in num2 ]
l3.sort()                             #sorted([i for i in num1 if i in num2 ])  for permananet change
print(l3)

[34, 67, 89]

###`Problem 7:` Sort a list of alphanumeric strings based on product value of numeric character in it. If in any string there is no numeric character take it's product value as 1.

`Input:`
```
['1ac21', '23fg', '456', '098d','1','kls']
```

`Output:`
```
['456', '23fg', '1ac21', '1', 'kls', '098d']

```

In [ ]:
l= [ '1ac21', '23fg', '456', '098d','1','kls']
l2 = []
for string in lst:
   product = 1
   for char in string:
      if char.isdigit():
        product *= int(char)
        break
      else:
        product = 1
   l2.append((product,string))
print(l2)

[(1, '1ac21'), (2, '23fg'), (4, '456'), (0, '098d'), (1, '1'), (1, 'kls')]

In [ ]:
def product_value(string):
  product = 1
  for char in string:
    if char.isdigit():
      product *= int(char)
  return product

def sort_strings(strings):
  sorted_strings = sorted(strings, key=product_value)
  return sorted_strings

strings = ["1ac21", "23fg", "456", "098d", "1", "kls"]
sorted_strings = sort_strings(strings)
print(sorted_strings)

['098d', '1', 'kls', '1ac21', '23fg', '456']

`Problem 8:` Split String of list on K character.

**Example :**

Input:
```bash
['CampusX is a channel', 'for data-science', 'aspirants.']
```

Output:
```bash
['CampusX', 'is', 'a', 'channel', 'for', 'data-science', 'aspirants.']
```

In [91]:
l1 = ['CampusX is a channel', 'for data-science', 'aspirants.']
l2 =[]
for string in l1:
  l2.extend(string.split(' '))
print(l2)

['CampusX', 'is', 'a', 'channel', 'for', 'data-science', 'aspirants.']

### `Problem 9:` Convert Character Matrix to single String using string comprehension.

**Example 1:**

Input:
```bash
[['c', 'a', 'm', 'p', 'u', 'x'], ['i', 's'], ['b', 'e', 's', 't'], ['c', 'h', 'a', 'n', 'n', 'e', 'l']]
```

Output:
```bash
campux is best channel
```

In [3]:
l1 = [['c', 'a', 'm', 'p', 'u', 'x'], ['i', 's'], ['b', 'e', 's', 't'], ['c', 'h', 'a', 'n', 'n', 'e', 'l']]
l2 = ''
for word in l1:
   l2+=''.join(word)+' '
l2.strip()
print(l2)
#

campux is best channel

In [10]:
l1 = [['c', 'a', 'm', 'p', 'u', 'x'], ['i', 's'], ['b', 'e', 's', 't'], ['c', 'h', 'a', 'n', 'n', 'e', 'l']]
l2 = ' '.join([''.join(word) for word in l1])
print(l2)

campux is best channel

### `Problem 10:` Add Space between Potential Words.

**Example:**

Input:

```bash
['campusxIs', 'bestFor', 'dataScientist']
```

Output:
```bash
['campusx Is', 'best For', 'data Scientist']
```

In [15]:
l1 = ['campusxIs', 'bestFor', 'dataScientist']
l2 =[]
for word in l1:
    string = ""
    for char in word:
        if char.isupper():
            string += " " +char
        else:
           string += char

    l2.append(string)
print(l2)

['campusx Is', 'best For', 'data Scientist']

In [28]:
l1 = ['campusxIs', 'bestFor', 'dataScientist']

l2 = [''.join([' ' + char if char.isupper() else char for char in word]) for word in l1]
print(l2)

['campusx Is', 'best For', 'data Scientist']

### `Problem 11:` Write a program that can perform union operation on 2 lists

**Example:**

Input:

```bash
[1,2,3,4,5,1]
[2,3,5,7,8]
```

Output:
```bash
[1,2,3,4,5,7,8]
```

In [1]:
l1 = [1,2,3,4,5,1]
l2 = [2,3,5,7,8]
l3 = []
for i in l1:
    l3.append(i)
for j in l2:
    l3.append(j)
print(l3)
for k in l3:
    if k not in l1 and l2:
       l3.append(k)
print(l3)

[1, 2, 3, 4, 5, 1, 2, 3, 5, 7, 8]

KeyboardInterrupt: ignored

In [2]:
l1 = [1,2,3,4,5,1]
l2 = [2,3,5,7,8]
union = []
for num in l1+l2:
  if num not in union:
     union.append(num)
print(union)

[1, 2, 3, 4, 5, 7, 8]

In [10]:
l1 = [1,2,3,4,5,1]
l2 = [2,3,5,7,8]
union = list(set(l1+l2))
print(union)

[1, 2, 3, 4, 5, 7, 8]

### `Problem 12:` Write a program that can find the max number of each row of a matrix

**Example:**

Input:

```bash
[[1,2,3],[4,5,6],[7,8,9]]
```

Output:
```bash
[3,6,9]
```

In [12]:
matrix = [[1,2,3],[4,5,6],[7,8,9]]
l2 = []
for row in matrix:
      max_num = max(row)
      l2.append(max_num)

print(l2)

[3, 6, 9]

In [13]:
matrix = [[1,2,3],[4,5,6],[7,8,9]]
l2 = [max(row) for row in matrix]
print(l2)

[3, 6, 9]

### `Problem 13:` Write a list comprehension to print the following matrix

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]

In [18]:
matrix = [[0, 1, 2], [3, 4, 5], [6, 7, 8]]
output =[]
for row in matrix:

        format_row = ' '.join(str(num) for num in row)
        output.append(format_row)
for row in output:
     print(row)

0 1 2
3 4 5
6 7 8

In [19]:
matrix = [[0, 1, 2], [3, 4, 5], [6, 7, 8]]
output =[ ' '.join(str(num) for num in row) for row in matrix]
for row in output:
  print(row)

0 1 2
3 4 5
6 7 8

### `Problem 14:` Write a list comprehension that can transpose a given matrix

matrix = [<br>
  [1,2,3],<br>
          [4,5,6],<br>
          [7,8,9]<br>]<br>

[1, 4, 7]<br>
[2, 5, 8]<br>
[3, 6, 9]<br>

In [33]:
A = [[1,2,3],
     [4,5,6],
     [7,8,9]]

T = [[0,0,0],
     [0,0,0],
     [0,0,0]]
for i in range(len(A)):   #row
   for j in range(len(A[0])):   #column
      T[j][i]= A[i][j]

for i in T:
    print(i)

[1, 4, 7]
[2, 5, 8]
[3, 6, 9]

In [34]:
#list comprehension using
A = [[1,2,3],
     [4,5,6],
     [7,8,9]]
T = [[A[j][i] for j in range(len(A))] for i in range(len(A[0]))]

for i in T:
  print(i)

[1, 4, 7]
[2, 5, 8]
[3, 6, 9]

### `Problem 15:` Write a list comprehension that can flatten a nested list

Input<br>
matrix = [<br>
  [1,2,3],<br>
          [4,5,6],<br>
          [7,8,9]<br>]<br>

Output:<br>
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [35]:
matrix = [
[1,2,3],
[4,5,6],
[7,8,9]
]
flatten = []
for sublist in matrix:
     for num in sublist:
      flatten.append(num)

print(flatten)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [37]:
matrix = [
[1,2,3],
[4,5,6],
[7,8,9]
]
flatten = [num for  sublist in matrix for num in sublist]
print(flatten)

[1, 2, 3, 4, 5, 6, 7, 8, 9]