# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**:
```
"Data" "Science" "Mentorship" "Program"
"By" "CampusX"
```
**Output**:
```
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [ ]:
# Write your code here

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [ ]:
# Write your code here

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [ ]:
# Write your code here

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [ ]:
# Write your code here

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [ ]:
# Write your code here

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [10]:
# Write your code here
heads = int(input("heads"))
legs = int(input("enter legs"))
if heads>legs :
  dogs = legs/4-1
  chicken = 2
else:
  dogs = legs/4
  chicken = (legs%4)/2
print("dogs",dogs,"chicken" , chicken)

heads4
enter legs12
dogs 3.0 chicken 0.0

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [2]:
# Write your code here
n = int(input("enter the number "))
sum=0
i=1
while(n>=i):
  sum = sum+(i*i)
  i+=1
print(sum)

enter the number 3
14

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [7]:
# Write your code here
a = int(input("enter first number"))
d =int(input("enter the difference"))
n = int(input("enter nth term "))
an = a+(n-1)*d
print(an)

enter first number2
enter the difference2
enter nth term 5
10

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [9]:
# let 2 fraction is A/B , C/D
A =int(input())
B =int(input())
C =int(input())
D =int(input())
result1 = (A*D)+(C*B)# CROSS MULTIPLY
result2 = (B*D)

print("the result is =",result1/result2)
print("the result is = {}/{}".format(result1,result2))

2
3
3
7
the result is = 1.0952380952380953
the result is = 23/21

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [12]:
# Write your code here
ht = int(input(" height of tank"))
lt = int(input(" length of tank"))
bt = int(input("breadth of tank"))
hg = int(input("height of glass "))
rg = int(input("radius of glass"))
vol_tank = ht*lt*bt
vol_glass = (22/7)*(rg**2)*hg
n = vol_tank/vol_glass
print(n)

 height of tank20
 length of tank20
breadth of tank20
height of glass 3
radius of glass1
848.4848484848485