###`Q-1:` Create a random 3x4 matrix with value between 0-100. And perform below tasks

    i. Sort this matrix. np.sort()
    ii. Sort this matrix based on values in 2nd column.
    iii. Sort this matrix based on max value in each row.
    iv. Sort based on elements value.

See examples:
```
arr =
    [[92 90 74]
    [ 6 63 93]
    [15 93 96]
    [70 60 48]]
```
```
i. np.sort
[[74 90 92]
 [ 6 63 93]
 [15 93 96]
 [48 60 70]]

ii. based on 2nd column
[[70 60 48]
 [ 6 63 93]
 [92 90 74]
 [15 93 96]]

iii. based on row max- ascending
[[15 93 96]
 [ 6 63 93]
 [92 90 74]
 [70 60 48]]

iv. based on elements value
[[ 6 15 48]
 [60 63 70]
 [74 90 92]
 [93 93 96]]

```

In [ ]:
# code here
import numpy as np
arr = np.random.randint(0,101,size=(3,4))
arr

array([[31, 51, 45, 28],
       [53, 82,  9, 42],
       [18, 39, 73, 87]])

In [ ]:
np.sort(arr)

array([[28, 31, 45, 51],
       [ 9, 42, 53, 82],
       [18, 39, 73, 87]])

In [ ]:
arr[np.argsort(arr[:,1])]

array([[18, 39, 73, 87],
       [31, 51, 45, 28],
       [53, 82,  9, 42]])

In [ ]:
# Sort this matrix based on max value in each row.
max_value = arr.max(axis=1)
print("max_value",max_value)
sorted_indices = np.argsort(max_value)
print("sorted indices",sorted_indices)
sorted_arr = arr[sorted_indices]
sorted_arr

max_value [51 82 87]
sorted indices [0 1 2]

array([[31, 51, 45, 28],
       [53, 82,  9, 42],
       [18, 39, 73, 87]])

In [ ]:
#Sort based on elements value.

np.sort(arr,axis=None).reshape(3,4)

array([[ 9, 18, 28, 31],
       [39, 42, 45, 51],
       [53, 73, 82, 87]])

###`Q-2:` There is an array of marks of 5 students in 4 subjects. Further you are asked to perform below task.
    i. Add marks every student of an extra subject in the same array.
    ii. Add two new students marks in respective 5 subjects.(one subject added in above task)
    iii. Add extra column with sum of all subjects(5-subjects) marks
    iv. Sort the array(non-ascending order) on total marks column--one added in above task. Show top 2 rows.

Note: Change dimension of arrays during concatenation or appending if required.

Given Array-
```
marks = [[13, 10,  9, 33],
       [63, 46, 90, 42],
       [39, 76, 13, 29],
       [82,  9, 29, 78],
       [67, 61, 59, 36]]

extra_subject = [41, 87, 72, 36, 92]
#Two extra students record-
rec1 = [77, 83, 98, 95, 89]
rec2 = [92, 71, 52, 61, 53]
```

In [ ]:
# code here
marks = np.array([[13, 10,  9, 33],
       [63, 46, 90, 42],
       [39, 76, 13, 29],
       [82,  9, 29, 78],
       [67, 61, 59, 36]])

#1Add marks every student of an extra subject in the same array.
extra_subject = np.array([41, 87, 72, 36, 92]).reshape(-1,1)
#append
#np.append(marks,extra_subject,axis=1)
#concatenate
marks = np.concatenate((marks,extra_subject),axis=1)
marks

array([[13, 10,  9, 33, 41],
       [63, 46, 90, 42, 87],
       [39, 76, 13, 29, 72],
       [82,  9, 29, 78, 36],
       [67, 61, 59, 36, 92]])

In [ ]:

#ii. Add two new students marks in respective 5 subjects.(one subject added in above task)
rec1 = np.array([77, 83, 98, 95, 89]).reshape(1,-1)
rec2 = np.array([92, 71, 52, 61, 53]).reshape(1,-1)
marks = np.concatenate((marks,rec1,rec2),axis=0)
marks

array([[13, 10,  9, 33, 41],
       [63, 46, 90, 42, 87],
       [39, 76, 13, 29, 72],
       [82,  9, 29, 78, 36],
       [67, 61, 59, 36, 92],
       [77, 83, 98, 95, 89],
       [92, 71, 52, 61, 53]])

In [ ]:
#iii. Add extra column with sum of all subjects(5-subjects) marks
sum = np.array(marks.sum(axis=1)).reshape(-1,1)
marks = np.concatenate((marks,sum),axis=1)
marks

array([[ 13,  10,   9,  33,  41, 106],
       [ 63,  46,  90,  42,  87, 328],
       [ 39,  76,  13,  29,  72, 229],
       [ 82,   9,  29,  78,  36, 234],
       [ 67,  61,  59,  36,  92, 315],
       [ 77,  83,  98,  95,  89, 442],
       [ 92,  71,  52,  61,  53, 329]])

In [ ]:
#iv.Sort the array(non-ascending order) on total marks column--one added in above task. Show top 2 rows.
indices = np.argsort(marks[:,5])[::-1]
marks[indices]

array([[ 77,  83,  98,  95,  89, 442],
       [ 92,  71,  52,  61,  53, 329],
       [ 63,  46,  90,  42,  87, 328],
       [ 67,  61,  59,  36,  92, 315],
       [ 82,   9,  29,  78,  36, 234],
       [ 39,  76,  13,  29,  72, 229],
       [ 13,  10,   9,  33,  41, 106]])

###`Q-3:` Find unique arrays from a 2D array column wise and row wise.
```
arr = np.array([[1,2,3,3,1,1],
                [0,9,1,2,8,8],
                [1,2,3,8,8,8],
                [1,2,3,3,1,1]])
```
Expected Result-
```
Row Wise
[[0 9 1 2 8 8]
 [1 2 3 3 1 1]
 [1 2 3 8 8 8]]

Col Wise
[[1 1 2 3 3]
 [0 8 9 1 2]
 [1 8 2 3 8]
 [1 1 2 3 3]]
```

In [ ]:
#solution
arr = np.array([[1,2,3,3,1,1],
                [0,9,1,2,8,8],
                [1,2,3,8,8,8],
                [1,2,3,3,1,1]])

#row-wise
row_wise = np.unique(arr,axis=0)
print(row_wise)
#column wise
col_wise = np.unique(arr,axis=1)
print(col_wise)

[[0 9 1 2 8 8]
 [1 2 3 3 1 1]
 [1 2 3 8 8 8]]
[[1 1 2 3 3]
 [0 8 9 1 2]
 [1 8 2 3 8]
 [1 1 2 3 3]]

###`Q-4:` Flip given 2-D array along both axes at the same time.

In [ ]:
# code here
arr = np.random.randint(1,30,size=(2,3))
print("array\n",arr)
print("flip array\n",np.flip(arr))

array
 [[21  6  5]
 [17  5  5]]
flip array
 [[ 5  5 17]
 [ 5  6 21]]

### `Q-5:` Get row numbers of NumPy array having element larger than X.
```
arr = [[1,2,3,4,5],
      [10,-3,30,4,5],
      [3,2,5,-4,5],
      [9,7,3,6,5]]

X = 6
```

In [ ]:
# code here
arr = np.array([[1,2,3,4,5],
      [10,-3,30,4,5],
      [3,2,5,-4,5],
      [9,7,3,6,5]])

X = 6
np.where(np.any(arr>X,axis=1))

(array([1, 3]),)

### `Q-6:` How to convert an array of arrays into a flat 1d array?

In [ ]:
# These arrays are given.
arr1 = np.arange(3)
print(arr1)
arr2 = np.arange(3,7)
print(arr2)
arr3 = np.arange(7,10)
print(arr3)

[0 1 2]
[3 4 5 6]
[7 8 9]

In [ ]:
# code here
np.concatenate([arr1,arr2,arr3])

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

### `Q-7:` You are given a array. You have to find the minimum and maximum array element and remove that from the array.

```python
import numpy as np

np.random.seed(400)
arr = np.random.randint(100, 1000, 200).reshape((1, 200))
```

In [ ]:
# code here
import numpy as np

np.random.seed(400)
arr = np.random.randint(100, 1000, 200).reshape((1, 200))
arr

array([[448, 563, 418, 240, 507, 362, 345, 236, 719, 291, 298, 639, 458,
        387, 262, 613, 267, 882, 181, 425, 790, 635, 889, 818, 872, 967,
        277, 470, 336, 920, 917, 295, 557, 830, 506, 385, 353, 975, 592,
        997, 137, 340, 222, 215, 472, 459, 617, 649, 935, 956, 914, 932,
        645, 952, 921, 490, 527, 972, 278, 307, 840, 958, 246, 449, 251,
        957, 103, 627, 920, 824, 356, 825, 173, 323, 372, 960, 710, 464,
        244, 782, 763, 635, 436, 774, 171, 469, 178, 458, 624, 211, 771,
        270, 308, 231, 952, 514, 699, 702, 433, 900, 373, 318, 998, 265,
        503, 320, 230, 324, 922, 967, 620, 743, 527, 117, 566, 804, 123,
        946, 587, 227, 853, 757, 944, 328, 855, 930, 325, 729, 426, 514,
        296, 879, 575, 936, 705, 209, 191, 743, 510, 513, 628, 559, 658,
        528, 395, 525, 922, 136, 496, 225, 895, 975, 263, 908, 420, 711,
        800, 976, 786, 235, 930, 859, 618, 226, 695, 460, 218, 483, 490,
        803, 621, 453, 193, 607, 677, 637, 728, 724, 534, 748, 291, 194,
        761, 875, 687, 569, 228, 482, 781, 554, 654, 739, 885, 197, 266,
        228, 892, 207, 883, 588]])

In [ ]:
max_element = np.argmax(arr)
min_element = np.argmin(arr)
print(arr.max(), arr.min())
arr = np.delete(arr,[max_element,min_element])
arr
print(arr.max(), arr.min())

998 103
997 117

### `Q-8:` You are given an arrays. You have to limit this array's elements between 100 to 200. $arr ∈ [100, 700]$. So replace those values accordingly with the minimum and maximum value. Then sort the array and perform the cumulative sum of that array.

In [ ]:
# code here
arr = np.random.randint(99,701,size=10)
np.cumsum(np.sort(np.clip(arr,a_min=100,a_max= 200)))

array([ 145,  297,  497,  697,  897, 1097, 1297, 1497, 1697, 1897])

### `Q-9:` You are given a array ($arr ∈ [0, 1]$). First you have round off the elements upto 3 decimal places and compare that
- 0th percentile == minimum value of the array
- 100th percentile == maximum value of the array
- also find the difference betwen 51th percenile and 50th percentile values

In [ ]:
# code here
arr = np.random.rand(100)
arr = np.round(arr,3)
print("0th percentile == minimum value of the array:",np.percentile(arr,0)==arr.min())
print("100th percentile == maximum value of the array:",np.percentile(arr,100)==arr.max())
print("difference betwen 51th percenile and 50th percentile values: ",(np.percentile(arr,51)-np.percentile(arr,50)))

0th percentile == minimum value of the array: True
100th percentile == maximum value of the array: True
difference betwen 51th percenile and 50th percentile values:  0.014469999999999983